@*
  The MIT License (MIT) 
  Copyright (c) 1994-2018 The Sage Group plc or its licensors.  All rights reserved.
 
  Permission is hereby granted, free of charge, to any person obtaining a copy of 
  this software and associated documentation files (the "Software"), to deal in 
  the Software without restriction, including without limitation the rights to use, 
  copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
  Software, and to permit persons to whom the Software is furnished to do so, 
  subject to the following conditions:
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software.
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
  OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@

@model ValuedPartner.TU.Models.ReceiptOptionalField

@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@using Sage.CA.SBS.ERP.Sage300.Common.Models
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using ValuedPartner.TU.Models

<div id="windowmessage1"></div>
<hr />
<div id="optionalField">
    @{
        UserAccess optionalAccess = new UserAccess();
        ViewBag.UserAccess.ResourceSecurity.TryGetValue(ReceiptOptionalField.EntityName, out optionalAccess);
        bool validateOptionalAccess = optionalAccess.SecurityType.HasFlag(SecurityType.Modify);
    }

    <script type="text/javascript">
        @Html.ConvertToJsVariableUsingNewtonSoft("optionalAccess", validateOptionalAccess);
    </script>
    <div class="gridcontrols-group clearfix">
        @if (optionalAccess.SecurityType.HasFlag(SecurityType.Add))
        {
            @Html.SageButtonNoName(CommonResx.AddLine, new { @id = "btnAddOptionalFieldLine", @class = "btn btn-default btn-grid-control btn-add" })
        }
        @if (optionalAccess.SecurityType.HasFlag(SecurityType.Delete))
        {
            @Html.SageButtonNoName(CommonResx.DeleteLine, new { @id = "btnDeleteOptionalFieldLine", @class = "btn btn-default btn-grid-control btn-delete" })
        }

    </div>
    <div class="datagrid-group">
        @Html.Partial(Core.OptionalFields)
        @Html.KoKendoGrid("OptionalFieldGrid", "receiptUI.receiptModel.Data.ReceiptOptionalField.Items", "DisplayIndex", "optionalFieldUIGrid.optionalFieldConfig('TU','Receipt','GetOptFields', 'OptionalFieldGrid', 0, 0, 1, 'ReceiptOptionalField', null, null, true)", true)
    </div>
</div>




