@* The MIT License (MIT) *@
@* Copyright (c) 1994-2017 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using ValuedPartner.TU.Resources.Reports
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using ValuedPartner.TU.Models.Reports
@model ValuedPartner.Web.Areas.TU.Models.Reports.SourceJournalProfileReportViewModel<SourceJournalProfileReport>

<script type="text/javascript">
      @Html.ConvertToJsVariableUsingNewtonSoft("sourceJournalProfileReportModel", Model);
      @Html.ConvertToJsVariableUsingNewtonSoft("screenName", SourceJournalProfileReportResx.Entity);
</script>


<div class="form-screen">

    <div id="success"></div>
    <div id="message"></div>
    <header>
        <section class="header-group-1">
            <div class="header-wrapper">
                <div class="header-headline">
                    @Html.SageHeader1Label("G/LSourceJournalProfilesReport", SourceJournalProfileReportResx.Entity)
                </div>
            </div>
        </section>
    </header>
    
    <div class="form-group">
        <div class="go-group">
            @Html.SageLabel("lblFromProfile", SourceJournalProfileReportResx.FromProfile)
            @Html.KoSageTextBoxFor(model => model.Data.Frjrnl, new { @sagevalue = "Data.Frjrnl" }, new { @maxlength = 60, @id = "Data_Frjrnl", @class = "txt large " })           
            @Html.KoSageButton("btnFromSrcJournalFinder", null, new { @class = "icon btn-search", @id = "btnFromSrcJournalFinder", @tabindex = "-1" })
        </div>
        <div class="go-group">
            @Html.SageLabel("lblToProfile", SourceJournalProfileReportResx.ToProfile)
            @Html.KoSageTextBoxFor(model => model.Data.Tojrnl, new { @sagevalue = "Data.Tojrnl" }, new { @maxlength = 60, @id = "Data_Tojrnl", @class = "txt large " })            
            @Html.KoSageButton("btnToSrcJournalFinder", null, new { @class = "icon btn-search", @id = "btnToSrcJournalFinder", @tabindex = "-1" })
        </div>
    </div>
    <section class="footer-group-1">
        @Html.SageButton("btnPrint", new { @id = "btnPrint", @class = "btn btn-primary", @value = CommonResx.Print })
    </section>
</div>
