@* Copyright (c) 2020 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Attributes
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Utilities
@using Sage.CA.SBS.ERP.Sage300.Common.Web
@using System.Linq
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using filter = Sage.CA.SBS.ERP.Sage300.Common.Models
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.ViewFinderViewModel

@Html.Partial(Shared.CoreLocalization)
<div class="finder_popUp">
    <div id="message"></div>
    <div class="form-group">
        <div class="dropdown-group">
            @Html.KoSageDropDownList("ColumnDropdown", null, new { @id = "ColumnDropdown", @autofocus = "autofocus", @class = "default" })
        </div>
        <div class="dropdown-group">
            <div id="OperatorDropdownDiv">
                @Html.KoSageDropDownList("OperatorDropdown", null, new { @id = "OperatorDropdown", @class = "clsOperatorDropDown default" })
            </div>
        </div>
        <div class="input-group">
            <div id="ValueDropDownDiv">
                @Html.KoSageDropDownList("ValueDropDown", null, new { @id = "ValueDropDown", @class = "clsValueDropDown default" })
                @Html.SageTextBox("ValueTextBox", null, new { @id = "ValueTextBox" })
                <div id="NumericTextBoxDiv">
                    @Html.SageTextBox("NumericTextBox", null, new { @id = "NumericTextBox", @class = "numeric default" })
                </div>
            </div>
        </div>
        <div class="buttons-group">
            @Html.KoSageButton("btnSearch", null, new { @class = "btn btn-default", @value = CommonResx.Search, @id = "btnSearch" })
        </div>
    </div>
    <div class="clear-fix"></div>
    <div id="divButtonWrapper" class="gridcontrols-group">
        @Html.SageButtonNoName(CommonResx.EditColumns, new { @id = "btnFinderPrefEditCols", @class = "btn btn-default btn-grid-control btn-edit-column" })
    </div>

    <div id="divFinderPrefEditCols" class="user-preference" style="display:none;">
        <table>
            <thead>
                <tr>
                    <td>@CommonResx.EditColumns</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="table-scroll">
                            <table border="0" id="tblFinderPref">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="child">
                                                @Html.SageCheckBox("chkSelectAll", false, new { @value = CommonResx.All, @id = "chkSelectAll", @for = "chkSelectAll" })
                                                @Html.SageLabel(CommonResx.All, new { @class = "check-all", @for = "chkSelectAll" })
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tblTBodyFinderPref"></tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="user-edit">
                        @Html.KoSageButton("btnFinderPrefApply", null, new { @class = "btn btn-primary", @value = CommonResx.Apply, @id = "btnFinderPrefApply" })
                        @Html.KoSageButton("btnFinderPrefCancel", null, new { @class = "btn btn-secondary", @value = CommonResx.Cancel, @id = "btnFinderPrefCancel" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <a id="btnFinderPrefRestore">@CommonResx.RestoreTableDefaults</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="clear-fix">
    <div id="div_finder_grid" tabindex="0"></div>
</div>
<div class="clear-fix"></div>
<div id="buttons" class="pager-group">
    <div class="k-pager-wrap k-grid-pager" data-role="pager">
        <a href="#" aria-label="@CommonResx.ToFirstPage" title="@CommonResx.ToFirstPage" class="k-link k-pager-nav k-pager-first left" id="first"
            @{if (Model.IsFirstPage) { <text> disabled="disabled" </text> } }>
            <span class="k-icon k-i-arrow-end-left"></span>
        </a>
        <a href="#" aria-label="@CommonResx.ToPreviousPage" title="@CommonResx.ToPreviousPage" class="k-link k-pager-nav left" id="previous"
            @{if (Model.IsFirstPage) { <text> disabled="disabled" </text> } }
            @{if (!Model.IsPrevPageFull) { <text> toFirst="toFirst" </text> } }>
            <span class="k-icon k-i-arrow-60-left"></span>
        </a>
        <a href="#" aria-label="@CommonResx.ToNextPage" title="@CommonResx.ToNextPage" class="k-link k-pager-nav left" id="next"
            @{if (Model.IsLastPage) { <text> disabled="disabled" </text> } }>
            <span class="k-icon k-i-arrow-60-right"></span>
        </a>
        <a href="#" aria-label="@CommonResx.ToLastPage" title="@CommonResx.ToLastPage" class="k-link k-pager-nav k-pager-last left" id="last" 
            @{if (Model.IsLastPage) { <text> disabled="disabled" </text> } }
            @{if (Model.NoMoreData) { <text> noMoreData="noMoreData" </text> } }>
            <span class="k-icon k-i-arrow-end-right"></span>
        </a>
    </div>
</div>
<div class="footer-group-1">
    @Html.KoSageButton("Cancel", null, new { @class = "btn btn-secondary", @value = CommonResx.Cancel, @id = "cancel" })
    @Html.KoSageButton("Select", null, new { @class = "btn btn-primary", @value = CommonResx.Select1, @id = "select" })
</div>
<div class="clear-fix"></div>
<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("finderModelDetail", Model.DataList);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderModelColumnsList", Model.GridColumns);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderSchemaModelType", Model.GridSchemaColumns);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderTitle", Model.FinderTitle);
    @Html.ConvertToJsVariableUsingNewtonSoft("SetFilterTitle", CommonResx.SetFilter);
    @Html.ConvertToJsVariableUsingNewtonSoft("StartsWith", CommonResx.StartsWith);
    @Html.ConvertToJsVariableUsingNewtonSoft("Contains", CommonResx.Contains);
    @Html.ConvertToJsVariableUsingNewtonSoft("columnPreferences", Model.ColumnPreferences);
    @Html.ConvertToJsVariableUsingNewtonSoft("columnFilter", Model.ColumnFilter);
    @Html.ConvertToJsVariableUsingNewtonSoft("isMaximized", Model.IsMaximized);
</script>


