@*
  The MIT License (MIT) 
  Copyright (c) 1994-2018 The Sage Group plc or its licensors.  All rights reserved.
 
  Permission is hereby granted, free of charge, to any person obtaining a copy of 
  this software and associated documentation files (the "Software"), to deal in 
  the Software without restriction, including without limitation the rights to use, 
  copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
  Software, and to permit persons to whom the Software is furnished to do so, 
  subject to the following conditions:
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software.
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
  OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@

@using ValuedPartner.TU.Resources.Process;
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using ARCommonResx = Sage.CA.SBS.ERP.Sage300.AR.Resources.Forms.ARCommonResx
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx

@model ValuedPartner.Web.Areas.TU.Models.Process.ClearStatisticsViewModel<ValuedPartner.TU.Models.Process.ClearStatistics>

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("ClearStatisticsViewModel", Model)
    @Html.ConvertToJsVariableUsingNewtonSoft("screenName", ClearStatisticsResx.Entity);
</script>
@Html.Partial("~/Areas/Core/Views/Shared/_ProcessingStatus.cshtml")

@{
    bool calendarYear = Model.CalendarYear;
    var className = "go-group";
    if (calendarYear)
    {
        className = "input-group";
    }
}

@{
    bool salespersonCalendarYear = Model.SalesCalendarYear;
    var classSalesName = "go-group";
    if (salespersonCalendarYear)
    {
        classSalesName = "input-group";
    }
}

@{
    bool itemCalendarYear = Model.ItemCalendarYear;
    var classItemName = "go-group";
    if (itemCalendarYear)
    {
        classItemName = "input-group";
    }
}

<div class="form-screen">
    <div id="message"></div>
    <header>
        <section class="header-group-1">
            <div class="header-wrapper">
                <div class="header-headline">
                    @Html.SageHeader1Label("lblClearStatistics", ClearStatisticsResx.Entity)
                </div>
            </div>
        </section>
    </header>
    <div class="sub-section">
        <div class="section-heading">
            <div class="form-group">
                <div class="ctrl-group">
                    <div>
                        @Html.KoSageCheckBox("Data_ClearCustomerStatistics", false, new { @sagechecked = "Data.bClearCustomerStatistics" }, new { })
                        @Html.SageLabelFor(model => model.Data.ClearCustomerStatistics, new { @class = "bold" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body indented" data-bind="visible:Data.bClearCustomerStatistics">
            <div class="form-group">
                <div class="go-group ">
                    @Html.SageLabel("lblClearStatistics", CommonResx.From)
                    @Html.KoSageTextBoxFor(model => model.Data.FromCustomerNo, new { @sagevalue = "Data.FromCustomerNo" }, new { @class = "default txt-upper", @id = "Data_FromCustomerNo", @autofocus = "autofocus" })
                    @Html.KoSageButton("btnFromCustomerFinder", null, new { @id = "btnFromCustomerFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
                <div class="go-group ">
                    @Html.SageLabel("ClearStatistic_To", CommonResx.To)
                    @Html.KoSageTextBoxFor(model => model.Data.ToCustomerNo, new { @sagevalue = "Data.ToCustomerNo" }, new { @class = "default txt-upper", @id = "Data_ToCustomerNo" })
                    @Html.KoSageButton("btnToCustomerFinder", null, new { @id = "btnToCustomerFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
            </div>
            <div class="form-group">
                <div class="@className">
                    @Html.SageLabel("ClearStatistic_ThroughYear", ClearStatisticsResx.ThroughYear)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughCustomerYear, new { @sagevalue = "Data.ThroughCustomerYear", @disable = "Data.isCustomerYearBool" }, new { @class = "default", @id = "Data_ThroughCustomerYear", @formatTextbox = "numeric" })
                    @if (!calendarYear)
                    {
                        @Html.KoSageButton("btnFindCustomerYear", null, new { @id = "btnFindCustomerYear", @class = "icon btn-search", @tabindex = "-1" })
                    }
                </div>
                <div class="numeric-group">
                    @Html.SageLabel("ClearStatistic_Period", ARCommonResx.Period)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughCustomerPeriod, new { @sagevalue = "Data.ThroughCustomerPeriod", @valueUpdate = "'input'" }, new { @id = "Data_ThroughCustomerPeriod", @class = "default", @maxlength = "2", @formatTextbox = "numeric", @placeholder = 0, @prefixZero = "true" })
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section">
        <div class="section-heading">
            <div class="form-group">
                <div class="ctrl-group">
                    <div>
                        @Html.KoSageCheckBox("Data_ClearGroupStatistics", false, new { @sagechecked = "Data.bClearGroupStatistics" }, new { })
                        @Html.SageLabelFor(model => model.Data.ClearGroupStatistics, new { @class = "bold" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body indented" data-bind="visible:Data.bClearGroupStatistics">
            <div class="form-group">
                <div class="go-group ">
                    @Html.SageLabel("lblClearStatistics", CommonResx.From)
                    @Html.KoSageTextBoxFor(model => model.Data.FromGroupCode, new { @sagevalue = "Data.FromGroupCode" }, new { @class = "default txt-upper", @id = "Data_FromGroupCode", @formatTextbox = "alphaNumeric", @autofocus = "autofocus" })
                    @Html.KoSageButton("btnFromCustomerGroupFinder", null, new { @id = "btnFromCustomerGroupFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
                <div class="go-group ">
                    @Html.SageLabel("ClearStatistic_To", CommonResx.To)
                    @Html.KoSageTextBoxFor(model => model.Data.ToGroupCode, new { @sagevalue = "Data.ToGroupCode" }, new { @class = "default txt-upper", @id = "Data_ToGroupCode", @formatTextbox = "alphaNumeric" })
                    @Html.KoSageButton("btnToCustomerGroupFinder", null, new { @id = "btnToCustomerGroupFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
            </div>
            <div class="form-group">
                <div class="@className">
                    @Html.SageLabel("ClearStatistic_ThroughYear2", ClearStatisticsResx.ThroughYear)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughGroupYear, new { @sagevalue = "Data.ThroughGroupYear", @disable = "Data.isCustomerGroupYearBool" }, new { @class = "default", @id = "Data_ThroughGroupYear", @formatTextbox = "numeric" })
                    @if (!calendarYear)
                    {
                        @Html.KoSageButton("btnFindCustomerGroupYear", null, new { @id = "btnFindCustomerGroupYear", @class = "icon btn-search", @tabindex = "-1" })
                    }
                </div>
                <div class="numeric-group">
                    @Html.SageLabel("ClearStatistic_Period2", ARCommonResx.Period)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughGroupPeriod, new { @sagevalue = "Data.ThroughGroupPeriod", @valueUpdate = "'input'" }, new { @id = "Data_ThroughGroupPeriod", @class = "default", @maxlength = "2", @formatTextbox = "numeric", @placeholder = 0, @prefixZero = "true" })
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section">
        <div class="section-heading">
            <div class="form-group">
                <div class="ctrl-group">
                    <div>
                        @Html.KoSageCheckBox("Data_ClearNationalAcctStatistics", false, new { @sagechecked = "Data.bClearNationalAcctStatistics" }, new { })
                        @Html.SageLabelFor(model => model.Data.ClearNationalAcctStatistics, new { @class = "bold" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body indented" data-bind="visible:Data.bClearNationalAcctStatistics">
            <div class="form-group">
                <div class="go-group ">
                    @Html.SageLabel("lblClearStatistics", CommonResx.From)
                    @Html.KoSageTextBoxFor(model => model.Data.FromNationalAccount, new { @sagevalue = "Data.FromNationalAccount" }, new { @class = "default txt-upper", @id = "Data_FromNationalAccount", @autofocus = "autofocus" })
                    @Html.KoSageButton("btnFromNationalAcctFinder", null, new { @id = "btnFromNationalAcctFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
                <div class="go-group ">
                    @Html.SageLabel("ClearStatistic_To2", CommonResx.To)
                    @Html.KoSageTextBoxFor(model => model.Data.ToNationalAccount, new { @sagevalue = "Data.ToNationalAccount" }, new { @class = "default txt-upper", @id = "Data_ToNationalAccount" })
                    @Html.KoSageButton("btnToNationalAcctFinder", null, new { @id = "btnToNationalAcctFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
            </div>
            <div class="form-group">
                <div class="@className">
                    @Html.SageLabel("ClearStatistic_ThroughYear3", ClearStatisticsResx.ThroughYear)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughNationalAcctYear, new { @sagevalue = "Data.ThroughNationalAcctYear", @disable = "Data.isNationalYearBool" }, new { @class = "default", @id = "Data_ThroughNationalAcctYear", @formatTextbox = "numeric" })
                    @if (!calendarYear)
                    {
                        @Html.KoSageButton("btnFindNationalAcctYear", null, new { @id = "btnFindNationalAcctYear", @class = "icon btn-search", @tabindex = "-1" })
                    }
                </div>
                <div class="numeric-group">
                    @Html.SageLabel("ClearStatistic_Period3", ARCommonResx.Period)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughNationalAcctPeriod, new { @sagevalue = "Data.ThroughNationalAcctPeriod", @valueUpdate = "'input'" }, new { @id = "Data_ThroughNationalAcctPeriod", @class = "default", @maxlength = "2", @formatTextbox = "numeric", @placeholder = 0, @prefixZero = "true" })
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section">
        <div class="section-heading">
            <div class="form-group">
                <div class="ctrl-group">
                    <div>
                        @Html.KoSageCheckBox("Data_ClearSalesPersonStatistics", false, new { @sagechecked = "Data.bClearSalespersonStatistics" }, new { })
                        @Html.SageLabelFor(model => model.Data.ClearSalesPersonStatistics, new { @class = "bold" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body indented" data-bind="visible:Data.bClearSalespersonStatistics">
            <div class="form-group">
                <div class="go-group ">
                    @Html.SageLabel("lblClearStatistics", CommonResx.From)
                    @Html.KoSageTextBoxFor(model => model.Data.FromSalesPerson, new { @sagevalue = "Data.FromSalesPerson" }, new { @class = "default txt-upper", @id = "Data_FromSalesPerson", @formatTextbox = "alphaNumeric" })
                    @Html.KoSageButton("btnFromSalespersonFinder", null, new { @id = "btnFromSalespersonFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
                <div class="go-group ">
                    @Html.SageLabel("ClearStatistic_To3", CommonResx.To)
                    @Html.KoSageTextBoxFor(model => model.Data.ToSalesPerson, new { @sagevalue = "Data.ToSalesPerson" }, new { @class = "default txt-upper", @id = "Data_ToSalesPerson", @formatTextbox = "alphaNumeric" })
                    @Html.KoSageButton("btnToSalespersonFinder", null, new { @id = "btnToSalespersonFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
            </div>
            <div class="form-group">
                <div class="@classSalesName">
                    @Html.SageLabel("ClearStatistic_ThroughYear4", ClearStatisticsResx.ThroughYear)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughSalesPersonYear, new { @sagevalue = "Data.ThroughSalesPersonYear", @disable = "Data.isSalespersonYearBool" }, new { @class = "default", @id = "Data_ThroughSalesPersonYear", @formatTextbox = "numeric" })
                    @if (!salespersonCalendarYear)
                    {
                        @Html.KoSageButton("btnFindSalespersonYear", null, new { @id = "btnFindSalespersonYear", @class = "icon btn-search", @tabindex = "-1" })
                    }
                </div>
                <div class="numeric-group">
                    @Html.SageLabel("ClearStatistic_Period4", ARCommonResx.Period)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughSalesPersonPeriod, new { @sagevalue = "Data.ThroughSalesPersonPeriod", @valueUpdate = "'input'" }, new { @id = "Data_ThroughSalesPersonPeriod", @class = "default", @maxlength = "2", @formatTextbox = "numeric", @placeholder = 0, @prefixZero = "true" })
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section">
        <div class="section-heading">
            <div class="form-group">
                <div class="ctrl-group">
                    <div>
                        @Html.KoSageCheckBox("Data_ClearItemStatistics", false, new { @sagechecked = "Data.bClearItemStatistics" }, new { })
                        @Html.SageLabelFor(model => model.Data.ClearItemStatistics, new { @class = "bold" })
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body indented" data-bind="visible:Data.bClearItemStatistics">
            <div class="form-group">
                <div class="go-group ">
                    @Html.SageLabel("lblClearStatistics", CommonResx.From)
                    @Html.KoSageTextBoxFor(model => model.Data.FromItemNumber, new { @sagevalue = "Data.FromItemNumber" }, new { @class = "default txt-upper", @id = "Data_FromItem", @autofocus = "autofocus" })
                    @Html.KoSageButton("btnFromItemFinder", null, new { @id = "btnFromItemFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
                <div class="go-group ">
                    @Html.SageLabel("ClearStatistic_To4", CommonResx.To)
                    @Html.KoSageTextBoxFor(model => model.Data.ToItemNumber, new { @sagevalue = "Data.ToItemNumber" }, new { @class = "default txt-upper", @id = "Data_ToItem" })
                    @Html.KoSageButton("btnToItemFinder", null, new { @id = "btnToItemFinder", @class = "icon btn-finder", @tabindex = "-1" })
                </div>
            </div>
            <div class="form-group">
                <div class="@classItemName">
                    @Html.SageLabel("ClearStatistic_ThroughYear5", ClearStatisticsResx.ThroughYear)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughItemYear, new { @sagevalue = "Data.ThroughItemYear", @disable = "Data.isItemYearBool" }, new { @class = "default", @id = "Data_ThroughItemYear", @formatTextbox = "numeric" })
                    @if (!itemCalendarYear)
                    {
                        @Html.KoSageButton("btnFindItemYear", null, new { @id = "btnFindItemYear", @class = "icon btn-search", @tabindex = "-1" })
                    }
                </div>
                <div class="numeric-group">
                    @Html.SageLabel("ClearStatistic_Period5", ARCommonResx.Period)
                    @Html.KoSageTextBoxFor(model => model.Data.ThroughItemPeriod, new { @sagevalue = "Data.ThroughItemPeriod", @valueUpdate = "'input'" }, new { @id = "Data_ThroughItemPeriod", @class = "default", @maxlength = "2", @formatTextbox = "numeric", @placeholder = 0, @prefixZero = "true" })
                </div>
            </div>
        </div>
    </div>
    <section class="footer-group-1">
        @Html.KoSageButton("btnProcess", null, new { @id = "btnProcess", @class = "btn btn-primary", @value = CommonResx.Process })
    </section>
</div>
