@* The MIT License (MIT) *@
@* Copyright (c) 1994-2016 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@model ValuedPartner.Web.Areas.TU.Models.TaxAuthoritiesViewModel<ValuedPartner.TU.Models.TaxAuthorities>
@using TaxAuthoritiesResx = ValuedPartner.TU.Resources.Forms.TaxAuthoritiesResx

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using AnnotationsResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.AnnotationsResx

<!-- Accounts Tab -->
<div class="sublevel-1">
    <div class="form-group">
        <div class="search-group">
            @Html.SageLabelFor(m => m.Data.TaxLiabilityAccount)
            @Html.KoSageTextBoxFor(m => m.Data.TaxLiabilityAccount, new { @sagevalue = "Data.TaxLiabilityAccount", @valueUpdate = "'input'" }, new { @id = "txtTaxLiabilityAccount", @disable = false, @class = "default txt-upper" })
            @Html.SageButton("btnLoadliability", new { @class = "icon btn-go", @id = "btnLoadliability", @tabindex = "-1" })
            @Html.SageButton("btnLiabilityAccountFinder", new { @class = "icon btn-search", @id = "btnLiabilityAccountFinder", @tabindex = "-1" })
        </div>
        <div class="input-group">
            @Html.SageLabel("AccountsTab_TxLiabilityAcctDesc", TaxAuthoritiesResx.TaxLiabilityAcctDesc)
            @Html.KoSageTextBoxFor(m => m.LiabilityAccountDescription, new { @sagevalue = "LiabilityAccountDescription", @valueUpdate = "'input'" }, new { @id = "txtTaxLiabilityAccountdesc", @disabled = "true", @class = "large" })
        </div>
    </div>
    <div class="form-group">
        <div class="ctrl-group">
            <div class="child">
            @Html.KoSageCheckBoxFor(m => m.Data.TaxRecover, new { @sagechecked = "Data.TaxRecover", @valueUpdate = "'input'" }, new { @id = "chktaxRecoverable" })
            @Html.SageLabel("chktaxRecoverable", TaxAuthoritiesResx.TaxRecoverable, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="search-group">
            @Html.SageLabelFor(m => m.Data.RecoverableTaxAccount)
            @Html.KoSageTextBoxFor(m => m.Data.RecoverableTaxAccount, new { @sagevalue = "Data.RecoverableTaxAccount", @valueUpdate = "'input'" }, new { @id = "txtTaxRecoverable", @disable = false, @class = "default txt-upper" })
            @Html.SageButton("btnLoadrecoverable", new { @class = "icon btn-go", @id = "btnLoadrecoverable", @tabindex = "-1" })
            @Html.SageButton("btnTaxRecoverableFinder", new { @class = "icon btn-search", @id = "btnTaxRecoverableFinder", @tabindex = "-1" })
        </div>
        <div class="input-group">
            @Html.SageLabel("AccountsTab_RecoTxAcctDesc", TaxAuthoritiesResx.RecoverableTaxAcctDesc)
            @Html.KoSageTextBox("txtRecoTxAcctDesc", new { @sagevalue = "RecoverableTaxAccountDescription", @valueUpdate = "'input'" }, new { @class = "large", @disabled = "true" })
        </div>
        <div class="numeric-group">
            @Html.SageLabelFor(m => m.Data.RecoverableRate)
            @Html.KoSageTextBoxFor(m => m.Data.RecoverableRate, new { @sagevalue = "Data.RecoverableRate", @valueUpdate = "'input'" }, new { @id = "txtRecoRate", @class = "default align-right", @disabled = "true", @maxlength = 9 })
        </div>
    </div>
    <div class="clear-fix"></div>
    <div class="form-group">
        <div class="ctrl-group">
            <div class="child">
                @Html.KoSageCheckBoxFor(m => m.Data.ExpenseSeparate, new { @sagechecked = "Data.ExpenseSeparate", @valueUpdate = "'input'" }, new { @id = "chkExpenseSeparately" })
                @Html.SageLabel("chkExpenseSeparately", TaxAuthoritiesResx.ExpenseSeparately, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="search-group">
            @Html.SageLabelFor(m => m.Data.ExpenseAccount)
            @Html.KoSageTextBoxFor(m => m.Data.ExpenseAccount, new { @sagevalue = "Data.ExpenseAccount", @valueUpdate = "'input'" }, new { @id = "txtExpenseAccount", @class = "default txt-upper" })
            @Html.SageButton("btnLoadexpense", new { @class = "icon btn-go", @id = "btnLoadexpense", @tabindex = "-1" })
            @Html.SageButton("btnExpenseAccountFinder", new { @class = "icon btn-search", @id = "btnExpenseAccountFinder", @tabindex = "-1" })
        </div>
        <div class="input-group">
            @Html.SageLabel("AccountsTab_ExpAcctDesc", TaxAuthoritiesResx.ExpenseAcctDesc)
            @Html.KoSageTextBox("txtExpAcctDesc", new { @sagevalue = "ExpenseAccountDescription", @valueUpdate = "'input'" }, new { @class = "large", @disabled = "true" })
        </div>
    </div>
                                                                         
    <div class="clearfix"></div>
</div>