@* The MIT License (MIT) *@
@* Copyright (c) 1994-2017 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@model ValuedPartner.Web.Areas.TU.Models.TaxAuthoritiesViewModel<ValuedPartner.TU.Models.TaxAuthorities>
@using TaxAuthoritiesResx = ValuedPartner.TU.Resources.Forms.TaxAuthoritiesResx

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using AnnotationsResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.AnnotationsResx

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("TaxAuthoritiesViewModel", Model)
</script>

@Html.Partial("~/Areas/TU/Views/TaxAuthorities/Partials/_Localization.cshtml")

<div id="success" class="message"></div>

<div class="form-screen">
    <div id="message"></div>
    <header>
        <section class="header-group-1">
            <div class="header-wrapper">
                <div class="header-headline">
                    @Html.SageHeader1Label("TaxAuthoritiesHeader", TaxAuthoritiesResx.Entity)
                </div>
                <div class="header-options">
                    @if (Model.UserAccess.SecurityType.HasFlag(SecurityType.Modify))
                    {
                        @Html.KoSageButton("btnNew", null, new { @value = CommonResx.CreateNew, @id = "btnNew", @class = "btn btn-primary" })
                    }
                </div>
            </div>
            <div class="flag-required">
                <span class="req-option">@CommonResx.RequiredLegend</span>
            </div>
        </section>
    </header>

    <div class="form-group">
        <div class="search-group">
            @Html.SageLabel("TaxAuthority", TaxAuthoritiesResx.TaxAuthority, new { @class = "required" })
            @Html.KoSageTextBoxFor(model => model.Data.TaxAuthority, new { @sagevalue = "Data.TaxAuthority", @valueUpdate = "'input'" }, new { @id = "txtTaxAuthority", @class = "default txt-upper", @formatTextbox = "alphaNumeric" })
            @Html.KoSageButton("btnLoadTaxAuthority", null, new { @id = "btnLoad", @class = "icon btn-go", @tabindex = "-1" })
            @Html.KoSageButton("btnFinderTaxAuthority", null, new { @class = "icon btn-search", @id = "btnFinderTaxAuthority", @tabindex = "-1" })
            @Html.ValidationMessageFor(model => model.Data.TaxAuthority)
        </div>
        <div class="input-group">
            @Html.SageLabelFor(model => model.Data.Description)
            @Html.KoSageTextBoxFor(model => model.Data.Description, new { @sagevalue = "Data.Description", @valueUpdate = "'input'" }, new { @id = "txtTaxDescription", @disable = false, @class = "large" })
        </div>
    </div>
    <div class="tab-group">
        <div id="taxAuthoritiestabstrip">
            <ul>
                <li class="k-state-active" id="tabProfile">@TaxAuthoritiesResx.ProfileTabCaption</li>
                <li id="tabAccounts">@TaxAuthoritiesResx.AccountsTabCaption</li>
            </ul>
            @Html.Partial("~/Areas/TU/Views/TaxAuthorities/Partials/_ProfileTab.cshtml")
            @Html.Partial("~/Areas/TU/Views/TaxAuthorities/Partials/_AccountsTab.cshtml")
        </div>
    </div>
    <section class="footer-group-1">
        @if (Model.UserAccess.SecurityType.HasFlag(SecurityType.Modify))
        {
            @Html.KoSageButton("btnSave", new { }, new { @value = CommonResx.Save, @id = "btnSave", @class = "btn btn-primary" })
            @Html.KoSageButton("btnDelete", new { }, new { @value = CommonResx.Delete, @id = "btnDelete", @class = "btn btn-primary" })
        }
    </section>
</div>