@* Copyright (c) 1994-2016 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Core.Web.Models;
@using Sage.CA.SBS.ERP.Sage300.Common.Resources;
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Portal;
@using Sage.CA.SBS.ERP.Sage300.CS.Resources.Forms;
@using Sage.CA.SBS.ERP.Sage300.Common.Web.Utilities;

@{
    @model NewTenantViewModel<NewTenant>
}

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("newTenantModel", Model)
</script>

<script type="text/javascript">
    var wizardResources = {
        FinderTitle: '@Html.SageRaw(CompanyProfileResx.FunctionalCurrency)',
        CurrencyCodeTitle: '@Html.SageRaw(CurrencyCodesResx.CurrencyCode)',
        AccountColumnHeader: '@Html.SageRaw(HomePageResx.Wizard_Setup_Account)',
        DescriptionColumnHeader: '@Html.SageRaw(HomePageResx.Wizard_Setup_Description)',
        InvalidYearMsg: '@Html.SageRaw(FiscalCalendarResx.InvalidYearMessage)',
        InvalidStartingDate: '@Html.SageRaw(CommonResx.InvalidDate)',
        InvalidDateSequence: '@Html.SageRaw(CommonResx.MaxSize)',
        InvalidFunctionalCurrencyMsg: '@Html.SageRaw(HomePageResx.Wizard_CurrencyCodeInvalid)',
        EmptyCurrencyMsg: '@Html.SageRaw(CommonResx.BlankIPError)'
    };
</script>



<div class="modal modal-wide setup-wizard">
    <div class="modal-wrapper">
        <header class="modal-header">
            <div class="wrapper">
                <h2>@HomePageResx.FeatureTourSlideWelcome<em>Sage</em> <span>300 Online</span></h2>
                <div class="user-info">@Model.CompanyName <span>|</span> @Model.UserName</div>
            </div>
        </header>

        <section class="modal-body step-initial active">
            <div class="wrapper">
                <h3>@HomePageResx.Wizard_Initial_Header1</h3>
                <p>@HomePageResx.Wizard_Initial_Header2</p>
                <div class="steps">
                    <ul>
                        <li class="step-first">
                            <div class="icon-circle icon-getting-started">
                                <div class="glyphicon glyphicon-calendar glyphicon-wizard"></div>
                            </div>
                            1. @CommonResx.FiscalYear
                        </li>
                        <li class="step-middle">
                            <div class="icon-circle icon-getting-started">
                                <div class="icon-dollor"></div>
                            </div>
                            2. @HomePageResx.CNA_Home_Mor_Curr
                        </li>
                        <li class="step-last">
                            <div class="icon-circle icon-getting-started">
                                <div class="glyphicon glyphicon-list glyphicon-wizard"></div>
                            </div>
                            3. @HomePageResx.Wizard_Initial_LastStep
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-btns">
                <div class="wrapper">
                    <input class="btn btn-primary" type="button" value="@CommonResx.Start">
                </div>
            </div>
        </section>


        <section class="modal-body step-fiscal">
            <div class="wrapper">
                <div class="std-icon icon-circle">
                    <div class="glyphicon glyphicon-calendar glyphicon-wizard"></div>
                </div>
                <h3>@CommonResx.FiscalYear</h3>
                <p>@HomePageResx.Wizard_Fiscal_Header2</p>
                <div class="form-group">
                    <div class="datepicker-group">
                        <label>@HomePageResx.Wizard_Fiscal_StartingDate</label>
                        @Html.KoSageTextBoxFor(model => model.Data.FiscalYearStartingDate, new { @sageDatePicker = "Data.FiscalYearStartingDate", @valueUpdate = "'input'" }, new { @id = "FiscalYearTxtBx", @class = "datepicker default" })
                        @Html.ValidationMessageFor(model => model.Data.FiscalYearStartingDate, null, new { @class = "" })
                    </div>
                    <div class="fiscal-group">
                        <label for="OldestFiscalYear">@HomePageResx.Wizard_Fiscal_OldestYear</label>
                        @Html.KoSageTextBoxFor(model => model.Data.OldestFiscalYear, new { @value = "Data.OldestFiscalYear" }, new { @class = "default", @id = "OldestFiscalYearTxtBx", @formatTextbox = "numeric" })
                        @Html.ValidationMessageFor(model => model.Data.OldestFiscalYear, null, new { @class = "" })
                    </div>
                    <div class="fiscal-group">.
                        <label for="CurrentFiscalYear">@HomePageResx.Wizard_Fiscal_CurrentYear</label>
                        @Html.KoSageTextBoxFor(model => model.Data.CurrentFiscalYear, new { @value = "Data.CurrentFiscalYear" }, new { @class = "default", @formatTextbox = "numeric" })
                        @Html.ValidationMessageFor(model => model.Data.CurrentFiscalYear, null, new { @class = "" })
                    </div>
                    <div class="dropdown-group">
                        <label>@HomePageResx.Wizard_Fiscal_Periods</label>
                        @Html.KoSageDropDownList("EnumList", new { @options = "NumFiscalPeriods", @value = "Data.NoOfFiscalPeriods", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "EnumList", @class = "default" })
                    </div>
                    <div class="dropdown-group Qtr4Periods" style="display: none">
                        @Html.SageLabel(CompanyProfileResx.Qtr4Periods)
                        @Html.KoSageDropDownList("dataQurterWithperiods", new { @options = "QuarterWith4Periods", @value = "Data.QuarterWith4Periods", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "dataQurterWithperiods", @class = "default" })
                    </div>
                </div>
            </div>
            <div class="modal-btns">
                <div class="wrapper">
                    <input class="btn btn-secondary" type="button" value="@CommonResx.Back">
                    <input class="btn btn-primary" type="button" value="@HomePageResx.Wizard_Btn_Next">
                </div>
            </div>
        </section>


        <section class="modal-body step-currency">
            <div class="wrapper">
                <div class="std-icon icon-circle">
                    <div class="icon-dollor"></div>
                </div>
                <h3>@HomePageResx.Wizard_Currency_Header1</h3>
                <p>@HomePageResx.Wizard_Currency_Header2</p>
                <p><em>@HomePageResx.Wizard_Currency_Header3_Important</em> @HomePageResx.Wizard_Currency_Header3</p>
                <div class="form-group">
                    <div class="ctrl-group">
                        <div>
                            @Html.KoSageCheckBoxFor(model => model.Data.MultiCurrency, new { @sagechecked = "Data.MultiCurrency" }, new { @id = "Data_MultiCurrency" })
                            <label for="chk1">@CommonResx.Multicurrency</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="go-group">
                        <label>@CommonResx.FunctionalCurrency</label>
                        @Html.KoSageTextBoxFor(m => m.Data.FunctionalCurrency, new { @sagevalue = "Data.FunctionalCurrency", @valueUpdate = "'input'" }, new { @id = "txtCurrencyCode", @disable = true, @class = "required txt-upper  default", @formatTextbox = "alphaNumeric", data_val = "true", data_val_required = string.Format(Sage.CA.SBS.ERP.Sage300.Common.Resources.AnnotationsResx.Required, CurrencyCodesResx.CurrencyCode) })
                        @Html.KoSageButton("btnFinderCurrencyCodes", null, new { @class = "icon btn-search", @id = "btnFinderCurrencyCodes", @tabindex = "-1" })
                        @Html.ValidationMessageFor(model => model.Data.FunctionalCurrency, null, new { @class = "" })
                    </div>
                    <div class="dropdown-group" id="defaultRateTypeGroup" style="display: none">
                        <label>@HomePageResx.Wizard_Currency_DefaultRateType</label>
                        @Html.KoSageDropDownList("CurrencyRateTypeList", new { @options = "CurrencyRateTypes", @value = "Data.DefaultRateType", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "CurrencyRateTypeList", @class = "default" })
                    </div>
                </div>
            </div>
            <div class="modal-btns">
                <div class="wrapper">
                    <input class="btn btn-secondary" type="button" value="@CommonResx.Back">
                    <input class="btn btn-primary" type="button" value="@HomePageResx.Wizard_Btn_Next">
                </div>
            </div>
        </section>

        <section class="modal-body step-setup">
            <div class="wrapper">
                <div class="std-icon icon-circle">
                    <div class="glyphicon glyphicon-list-2 glyphicon-wizard"></div>
                </div>
                <h3>@HomePageResx.Wizard_Setup_Header1</h3>
                <p>
                    @HomePageResx.Wizard_Setup_Header2<br>
                    @HomePageResx.Wizard_Setup_Header3
                </p>
                <div class="form-group">
                    <div class="ctrl-group">
                        <div>
                            <input name="isSkip" type="radio" id="skipRadioBtn" value="isSkip" />
                            <label for="rdo1"><em>@HomePageResx.Wizard_Setup_Skip</em>@HomePageResx.Wizard_Setup_SkipDescription</label>
                        </div>
                        <div>
                            <input name="isSkip" type="radio" id="quickSetupRadioBtn" value="notSkip" checked />
                            <label for="rdo2"><em>@HomePageResx.Wizard_Setup_QuickSetup</em>@HomePageResx.Wizard_Setup_QuickSetupDdescription</label>
                        </div>
                    </div>
                </div>
                <div class="grid-group">
                    <div id="accountGrid"></div>
                </div>
            </div>
            <div class="modal-btns">
                <div class="wrapper">
                    <input class="btn btn-secondary" type="button" value="@CommonResx.Back">
                    <input class="btn btn-primary" type="button" value="@HomePageResx.Wizard_Btn_Next">
                </div>
            </div>
        </section>


        <section class="modal-body step-done">
            <div class="wrapper">
                <div class="std-icon icon-circle">
                    <div class="glyphicon glyphicon-tick glyphicon-wizard"></div>
                </div>
                <h3>@HomePageResx.Wizard_Done_Header1</h3>
                <p>@HomePageResx.Wizard_Done_Header2</p>
                @* *****
                    FIXME: Wizard_Done_Header3, Wizard_Done_Header4, and Wizard_Done_Header5
                    were removed from all languages' HomePageResx.*.resx files on Nov. 23, 2015.
                    Since the resx files were edited directly, the associated properties in
                    the underlying HomePageResx.Designer.cs file were not removed until the
                    resx file was edited directly in Visual Studio (Feb. 18, 2016).  This meant
                    that the paragraph below needed to be commented out for the build to succeed.
                    Currently this wizard is not accessible, but should it become accessible to
                    users again (if we go back to a cloud hosted solution) we will need to revisit
                    how this paragraph works so that it will be easier work for translators.  The
                    original content of the paragraph (covering Wizard_Done_Header3/4/5) was:
                    <p>If you're wondering where to start, we recommend you review the
                    <a href=...>Getting Started Checklists</a> in the Help Center.</p>
                    One idea for a fix is to have a couple of resource strings:
                    * If you're wondering where to start, we recommend you review the {0} in the Help Center.
                    * Getting Started Checklists
                    Then we could have a helper function that generates the paragraph as well as
                    the hyperlink within the paragraph - and we would call this function to
                    generate the appropriate HTML.
                ***** *@
                @*<p>@HomePageResx.Wizard_Done_Header3<a href=@Utilities.GetLearnMoreUrl("677000102") target="_blank">@HomePageResx.Wizard_Done_Header4</a>@HomePageResx.Wizard_Done_Header5</p>*@
            </div>
            <div class="modal-btns">
                <div class="wrapper">
                    <input class="btn btn-secondary" type="button" value="@CommonResx.Back">
                    <input class="btn btn-primary" type="button" value="@HomePageResx.Wizard_Btn_Done">
                </div>
            </div>
        </section>

        <div id="wizardMessage"></div>
        <div id="ajaxSpinner" class="ajaxSpinner">
            <span class="sage_loading"></span>
        </div>
    </div>
</div>