@* Copyright (c) 1994-2017 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Utilities
@using Sage.CA.SBS.ERP.Sage300.Common.Web.Utilities
@using Sage.CA.SBS.ERP.Sage300.Core.Configuration
@using Auth = Sage.CA.SBS.ERP.Sage300.Common.Models.Authentication

@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.HomeViewModel
@{
    Layout = null;
}
<link href="~/Content/Styles/Sage.CA.SBS.ERP.Sage300.css" rel="stylesheet" />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Columbus NA 2.0</title>
    @Html.Partial(Shared.CoreLocalization)
</head>
<body>
    @{
        var userTenantInfo =  SignOnHelper.GetStoredUserSignOnResult("");
    }
    <div class="homePage">
        <header>
            <a href="#" class="logo">
                <img src="~/Content/Images/logo2.png" alt="Alternate Text" />
                <span>S300 - Columbus NA 2</span>
            </a>
            <div class="topbg">
                <nav>
                    <div id="nav">
                        <ul id="navleft"></ul>

                        <ul id="navright">
                            <li class="current">
                                Hello, @if (@userTenantInfo != null && !@userTenantInfo.LoggedInUser.IsGuest)
                                       {
                                           @userTenantInfo.LoggedInUser.FirstName @userTenantInfo.LoggedInUser.LastName}
                                       else
                                       {
                                           @Html.Label("Guest User")
                                       }
                                |
                            </li>
                            @if (@userTenantInfo != null && @userTenantInfo.LoggedInUser != null && !@userTenantInfo.LoggedInUser.IsGuest && @userTenantInfo.LoggedInUser.UserManagementUrl != "")
                            {
                                <li><a href="@userTenantInfo.LoggedInUser.UserManagementUrl">Manage Users</a> |</li>
                            }
                            <li class="current">Settings |</li>
                            <li class="current">Help |</li>
                            @if (@userTenantInfo != null && !@userTenantInfo.LoggedInUser.IsGuest)
                            {
                                <li>@Html.ActionLink("Change Tenant", "Index", new { Controller = "Tenant", Area = "Core" }) | </li>
                                <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Authentication", Area = "Core" })</li>
                            }
                            else
                            {
                                <li class="current">Logout</li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        </div>
</body>
</html>
<script type="text/javascript" id="jsViewBatchModel1">
    @Html.ConvertToJsVariableUsingNewtonSoft("uiHomeModel", Model)
</script>
