@* Copyright (c) 2018 Sage Software, Inc.  All rights reserved. *@

@model List<Newtonsoft.Json.Linq.JObject>
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Portal
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using System.Linq

<script type="text/javascript">
    var globalSearchResource = {
        resetConfirm: '@Html.SageRaw(@GlobalSearchResx.ResetConfirmation)',
        noSelection: '@Html.SageRaw(@GlobalSearchResx.Dropdown_NoSelection)'
    };

    var globalSearchPageSize =  @ViewData["GlobalSearchPageSize"];

    @Html.ConvertToJsVariableUsingNewtonSoft("entitySchemaList", Model)
</script>
<html>
<head>
    <meta name="viewport" content="device-width: 1024px" />
    <title>Sage300 Global Search</title>
</head>
<script type="text/x-kendo-tmpl" id="template">
    <div class="result-item">
        <div class="item-type-icon">
            <!-- Display an icon. If it cannot be found, substitute in a default icon. -->
            <img src='../../../../Assets/images/search/type-#: data["Type"] #.png' onerror="this.src = '../../../../Assets/images/search/type-document.png'" alt="Document type icon"/>
        </div>
        <div class="result-item-content">
            <h2 class="">
                <a class="item-ID" data-webdetailinfo='#: data["webdetailinfo"] #'>
                    <div>
                        #for (var i = 0; i < Header.length; i++) {#
                        <span>#: data["FieldName-" + Header[i]] #</span>: <span>#: data[Header[i]] #</span>&nbsp;
                        #}#
                    </div>
                </a>
            </h2>
            <p>
                #for (var i = 0; i < Path.length; i++) {#
                #  if (i > 0){#
                <span aria-hidden="true" class="glyphicon glyphicon-next"></span>
                #  }#
                <span>#: Path[i] #</span>
                #}#
            </p>
            <div>
                #for (var i = 0; i < Fields.length; i++) {#
                <p><span>#: data["FieldName-" + Fields[i]]#</span>: <span>#: data[Fields[i]] #</span></p>
                #}#
            </div>
        </div>
    </div>
</script>
<style>
    input[type=checkbox] {
        opacity: 1
    }
</style>
<body class="global-search">
    <div id="GlobalSearch">
        <div id="message"></div>
        <header>
            <section class="header-group-1">
                <div class="header-wrapper">
                    <div class="header-headline">
                        <h1 id="globalSearchHeader">@GlobalSearchResx.ScreenTitle</h1>
                    </div>
                    <div class="header-global-search">
                        <div class="button-group" id="searchAreasMultiselect">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-setting"></span> <span class="caret"></span></button>
                            <div class="treeview-group" >
                                <div id="searchableEntityTreeView"></div>
                            </div>
                        </div>
                        <div class="global-search-group">
                            @Html.SageTextBox("globalSearchBox", null, new { @id = "globalSearchBox", @class = "large", @autocomplete = "off" })
                            @Html.KoSageButton("btnSearchFind", null, new { @class = "icon btn-finder", @id = "btnSearchFind" })
                        </div>
                    </div>
                    @if (ViewData["IsAdmin"].ToString().ToLower() == "true")
                    {
                        <div class="header-options">
                            <button class="btn btn-refresh" type="button" id="btnResetCompany" name="btnResetCompany" tabindex="-1" title="@GlobalSearchResx.ResetToolTip"><span class="glyphicon glyphicon-refresh"></span>@GlobalSearchResx.Reset</button>
                        </div>
                    }
                </div>
            </section>
        </header>

        <main class="main-body">
            <div class="body-search-result">
                <div id="bodySearchResultListView"></div>
                <div id="searchResultPager">
                    <div id="resultMessage" class="msg-no-result"> </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
