@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Web.Models
@using Sage.CA.SBS.ERP.Sage300.Common.Models.ExportImport
@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.ExportImportViewModel

@{
    Layout = null;
}

<style>
    input[type=checkbox] {
        opacity: 1
    }
</style>

<div id="ExportTabstrip" class="tab-group">
    <ul>
        <li class="k-state-active">@CommonResx.Settings</li>
        <li>@CommonResx.Filters</li>
        <li>@CommonResx.ResultsPreview</li>
    </ul>

    <div id="exportConfig">
        <div style="display:none">
            <div class="script-btn-group" id="ExportOptions">
                <button class="btn btn-script script-load" id="btnLoadScript">@CommonResx.LoadScript</button>
                <button class="btn btn-script script-save" id="btnSaveScript">@CommonResx.SaveScript</button>
            </div>
        </div>

        <div id="divLoadScript" style="display:none" class="container_popUp">
            <form action='@Url.Action("LoadScripts", "ExportImport")' method="post" enctype="multipart/form-data" id="formLoadScript">
                <div id="loadScriptMessage"></div>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="browse-group">
                        <label>@CommonResx.FileLocation</label>
                        @Html.KoSageTextBox("btnUploadFile", null, new { @id = "btnUploadFile", disabled = "disabled", @class = "medium" })
                        <div class="btn btn-default fileUpload">
                            <span>
                                @CommonResx.Browse
                            </span>
                            @Html.KoSageFileButton("File", null, new { @id = "btnFile", @class = "upload", @accept = "text/xml" })
                        </div>
                    </div>
                </div>

                <input type="hidden" name="name" id="name" value='@Model.ExportRequest.Name' />
                <section id="buttons" class="footer-group-1">
                    @Html.KoSageButton("LoadScript", null, new { @class = "btn btn-primary", @value = CommonResx.LoadScript, @id = "loadScriptSubmit" })
                </section>
                <div class="fileupload">
                </div>
            </form>
        </div>

        <div id="exportScreen">
            <div id="exportTree">
                <form action='@Url.Action("SaveScripts", "ExportImport")' method="post" enctype="multipart/form-data" id="targetId">
                    @Html.AntiForgeryToken()
                    @Html.SageHiddenFor(m => m.ExportRequest.Name)
                    @Html.HiddenFor(m => m.ExportRequest.DataMigrationList, new { id = "DataMigrationList" })
                    @Html.HiddenFor(m => m.ExportRequest.ExportCriteria, new { id = "ExportCriteria" })
                    <div class="form-group">
                        <label class="right required">@CommonResx.RequiredLegend</label>
                        <div class="dropdown-group">
                            <label class="label-left">@CommonResx.FileType</label>
                            @Html.KoSageDropDownList("FileTypes", new { @options = "ExportRequest.FileTypes", @value = "ExportRequest.FileType", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "FileTypes", @class = "default" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="treeview-group">
                            <div id="exportTreeView" ></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div id="exportCriteria">
        <div id="divSetCriteria">
            <div class="form-group">
                <div class="dropdown-group">
                    <label class="label-left">@CommonResx.Column</label>
                    @Html.KoSageDropDownList("ColumnDropdown", null, new { @id = "ColumnDropdown", @autofocus = "autofocus", @class = "default" })
                </div>
                @Html.KoSageButtonNoName(CommonResx.Add, null, new { @id = "btnAddColumn", @class = "btn btn-column-add", })
            </div>

            <div id="SetCriteriaGrid" class="datagrid-group" ></div>

            <div id="CriteriaStringPopup" class="filter-criteria-popup">
                <div class="wrapper">
                    <textarea readonly id="txtCriteriaId" name="txtCriteria" rows="4" cols="120"></textarea>
                </div>
            </div>

            <div id="CriteriaExprId" style="display:none" class="export-window export-dialog">
                <div class="form-group">
                    <div class="ctrl-group">
                        <div>
                            @Html.KoSageCheckBox("chkExpField", false, new { }, new { @id = "chkExpField", @class = "icon" })
                            <label for="chkExpField">@CommonResx.SetValueAsFieldName</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="dropdown-group">
                        @Html.KoSageDropDownList("OpeartorDropdown", null, new { @id = "ExpOpeartorDropdown", @autofocus = "autofocus", @class = "small" })
                    </div>
                    <div class="dropdown-group">
                        @Html.KoSageDropDownList("ColumnDropdown", null, new { @id = "ExpColumnDropdown", @autofocus = "autofocus", @class = "default" })
                    </div>
                    <div class="input-group">
                        @Html.SageTextBox("valueTextBox", null, new { @id = "valueTextBox", @class = "default" })
                        @Html.SageTextBox("numberValueTextBox", null, new { @id = "numberValueTextBox", @maxlength = "10", @class = "default" })
                        @Html.SageTextBox("dateValueTextBox", null, new { @id = "dateValueTextBox", @class = "default" })
                    </div>
                    <div class="dropdown-group">
                        @Html.KoSageDropDownList("EnumValueDropdown", null, new { @id = "EnumValueDropdown", @autofocus = "autofocus", @class = "default" })
                    </div>
                </div>
                <section class="footer-group-1">
                    @Html.KoSageButton("Cancel", null, new { @class = "btn btn-secondary", @value = CommonResx.Cancel, @id = "btnExpCancel" })
                    @Html.KoSageButton("Select", null, new { @class = "btn btn-primary", @value = CommonResx.OK, @id = "btnExpOk" })
                </section>
            </div>
        </div>
    </div>

    <div id="exportResults">
        <div id="CriteriaGrid" class="datagrid-group" ></div>
    </div>

</div>

<div id="exportResult" style="display:none" class="clearfix">
    <div>@Html.KoSpan(new { text = "ExportResponse.StatusString()" })</div>
    <div id="exportResultMessageDiv"></div>
    <div id="resultgrid" style="display:none">
        @Html.KoKendoGrid("exportResultGrid", "sg.exportHelper.exportModel.ExportResponse.Results", "ProcessResult", "sg.exportHelper.gridOption")
        <div id="fileNameDiv" style="display:none">@Html.KoSpan(new { text = "ExportResponse.FileName" })</div>
    </div>
    <br/>
    <div class="progress" id="progressBarForExport" style="display:none">
        <div class="progress-bar progress-bar-1 active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="percentage">20% Complete</span>
        </div>
    </div>
    <div class="import-export-btns clearfix mt20">
        <div id="lnkDownload" class="align-right">
            @Html.KoSageAnchor("#", CommonResx.Download, null, new { @id = "btnDownload", @class = "btn btn-primary ", @target = "_blank"})
        </div>
    </div>
</div>

<section class="footer-group-1" id="btnExportGroup">
    @Html.KoSageButton("ShowCriteria", null, new { @class = "btn btn-secondary left", @value = CommonResx.ShowFilter, @id = "btnShowCriteria" })
    @Html.KoSageButton("ClearCriteria", null, new { @class = "btn btn-secondary left", @value = CommonResx.Clear, @id = "btnClearCriteria" })
    @Html.KoSageButton("Select", null, new { @class = "btn btn-primary right", @value = CommonResx.Export, @id = "btnExport" })
    @Html.KoSageButton("Cancel", null, new { @class = "btn btn-secondary right", @value = CommonResx.Cancel, @id = "btnCancel" })
</section>

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("exportResultRowNumber", 0);
    @Html.ConvertToJsVariableUsingNewtonSoft("index", CommonResx.Index);
    @Html.ConvertToJsVariableUsingNewtonSoft("loadScript", CommonResx.LoadScript);
    @Html.ConvertToJsVariableUsingNewtonSoft("exportModelData", Model);
</script>

