@* The MIT License (MIT) *@
@* Copyright (c) 1994-2016 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@model ValuedPartner.Web.Areas.TU.Models.SegmentCodesViewModel<ValuedPartner.TU.Models.SegmentCodes>
@using SegmentCodesResx = ValuedPartner.TU.Resources.Forms.SegmentCodesResx

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using AnnotationsResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.AnnotationsResx

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("SegmentCodesViewModel", Model)
</script>

@Html.Partial("~/Areas/TU/Views/SegmentCodes/Partials/_Localization.cshtml")

<div id="success" class="message"></div>

<div class="form-screen">
    <div id="message"></div>
    <header>
        <section class="header-group-1">
            <div class="header-wrapper">
                <div class="header-headline">
                    @Html.SageHeader1Label("SegmentCodesHeader", SegmentCodesResx.Entity)
                </div>
            </div>
        </section>
    </header>

    <div class="form-group">
        <div class="dropdown-group">
            @Html.SageLabel("lblSegmentName", SegmentCodesResx.SegmentName)
            @Html.KoSageDropDownList("SegmentNameList", new { @options = "Segments", @optionsText = "'Text'", @optionsValue = "'Value'" }, new { @id = "SegmentNameList", @class = "large" })
        </div>
    </div>
    @Html.Partial("~/Areas/TU/Views/SegmentCodes/Partials/_SegmentCodeGrid.cshtml", new ValuedPartner.TU.Models.SegmentCodes() )
    <section class="footer-group">
        @if (Model.UserAccess.SecurityType.HasFlag(SecurityType.Modify))
        {
            @Html.KoSageButton("btnSave", null, new { @value = CommonResx.Save, @id = "btnSave", @class = "btn btn-primary" })
        }
    </section>

</div>