@* Copyright (c) 2018 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.InquiryGeneralViewModel


@using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInquiryGeneral" }))
{
    <div class="form-screen crm">
        <div id="message"></div>
        <div id="success"></div>
        <header>
            <section class="header-group-1">
                <div class="header-wrapper">
                    <div class="header-headline">
                        <h1 id="InquiryGeneralHeader"></h1>
                    </div>
                    <div class="header-options" id="headerButtonsId" style="display : none">
                        @Html.KoSageButton("btnDeleteQuery", new { }, new { @value = InquiryGeneralResx.DeleteQuery, @id = "btnDeleteQuery", @class = "btn btn-secondary" })
                        @Html.KoSageButton("btnOpenQuery", new { }, new { @value = InquiryGeneralResx.OpenQuery, @id = "btnOpenQuery", @class = "btn btn-secondary" })
                        @Html.KoSageButton("btnSaveQuery", new { }, new { @value = InquiryGeneralResx.SaveQuery, @id = "btnSaveQuery", @class = "btn btn-primary btn-inquiry-save" })
                        @Html.KoSageButton("btnExportQuery", new { }, new { @value = InquiryGeneralResx.Export, @id = "btnExportQuery", @class = "btn btn-primary" })
                    </div>
                </div>
            </section>
        </header>

        <div class="gridcontrols-group clearfix">
            <div class="left">
                <div class="ctrl-group" id="divShowGrandTotals" hidden>
                    @Html.KoSageCheckBox("chkShowGrandTotals", false, new { @sagechecked = "'true'" }, new { @id = "chkShowGrandTotals" })
                    @Html.SageLabel("lblShowGrandTotals", InquiryGeneralResx.ShowGrandTotal, new { @for = "chkShowGrandTotals" })
                </div>
            </div>
            <div class="right">
                <label class="label-gridcontrl">@CommonResx.PerPage</label>
                <button class="pagesize-10 active" type="button" id="btnPageSize10">10</button>
                <button class="pagesize-20" type="button" id="btnPageSize20">50</button>
                <button class="pagesize-30" type="button" id="btnPageSize30">100</button>
                <button class="btn btn-default btn-grid-control btn-delete" type="button" id="btnClearFilters">@CommonResx.ClearFilters</button>
            </div>
        </div>

        <div id="filter"></div>
        <div id="inquiryGrid" class="datagrid-group"></div>

    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/InquiryGeneralUI")
}

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("InquiryGeneralViewModel", Model);
    var inquiryGeneralResources = {
        Count: '@Html.SageRaw(InquiryGeneralResx.Count)',
        Maximum: '@Html.SageRaw(InquiryGeneralResx.Maximum)',
        Minimum: '@Html.SageRaw(InquiryGeneralResx.Minimum)',
        Total: '@Html.SageRaw(InquiryGeneralResx.Total)',
        Average: '@Html.SageRaw(InquiryGeneralResx.Average)',
        GrandTotal: '@Html.SageRaw(InquiryGeneralResx.GrandTotal)',
        DeleteConfirmMessage: '@Html.SageRaw(CommonResx.DeleteConfirmMessage)',
        Query: '@Html.SageRaw(InquiryResx.Query)',
        Inquiry: '@Html.SageRaw(InquiryResx.Inquiry)',
        Shared: '@Html.SageRaw(InquiryResx.Shared)',
        Personal: '@Html.SageRaw(InquiryResx.Personal)',
        Public: '@Html.SageRaw(InquiryResx.Public)',
        Private: '@Html.SageRaw(InquiryResx.Private)',
        DuplicateMessage: '@Html.SageRaw(InquiryGeneralResx.DuplicateMessage)',
        DeleteMessage: '@Html.SageRaw(InquiryGeneralResx.DeleteMessage)',
        Filter: '@Html.SageRaw(CommonResx.Filter)',
        NoFilter: '@Html.SageRaw(CommonResx.NoFilter)'
    }
</script>

@{
    Layout = Shared.GlobalLayout;
}
