@*
  The MIT License (MIT) 
  Copyright (c) 1994-2018 The Sage Group plc or its licensors.  All rights reserved.
 
  Permission is hereby granted, free of charge, to any person obtaining a copy of 
  this software and associated documentation files (the "Software"), to deal in 
  the Software without restriction, including without limitation the rights to use, 
  copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
  Software, and to permit persons to whom the Software is furnished to do so, 
  subject to the following conditions:
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software.
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
  OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums

@Html.Partial(Core.OptionalFieldLocalization)
<script>
    var optionalFieldFields = {
        txtOptionalField: '<div class="edit-container"> <div class="edit-cell inpt-text"><input class="grid_inpt txt-upper pr25" formatTextbox="alphaNumeric" id="txtoptionalfield" maxlength="12" name="OptionalField" type="text" value="" /></div>',
        finderOptionalField: '<div class="edit-cell inpt-finder"><input class="icon btn-search" id="optFieldFinder" name="optFieldFinder" type="button"></input></div></div>',
        txtValue: '<input class="grid_inpt pr25" id="txtOptFieldValue" name="Value" maxlength="60" type="text" value="" />',
        txtDefaultValue: '<input class="grid_inpt pr25" id="txtOptFieldValue" name="DefaultValue" maxlength="60" type="text" value="" />',
        finderValue: '<input class="icon btn-search" id="optFieldValueFinder" name="optFieldValueFinder" type="button" />',
        settingsField: '<div class="edit-cell inpt-finder">@Html.SageButton("btnoptionalfieldsettings", new { @id = "btnoptionalfieldsettings", @class = "icon pencil-edit btnOptionalFieldSettings" })</div></div>',
    };
    var optionalFieldFieldsDropdown = {
        optionalFieldValuesetDrpDown: '<select id="Data_ValueSet" name="valueSet"><option value="0">' + '@CommonResx.No' + '</option><option value="1">' + '@CommonResx.Yes' + '</option></select>',
        optionalFieldDefaultValueDrpDown: '<select id="DefaultValue" name="defaultValueYesNo"><option value="0">' + '@CommonResx.No' + '</option><option value="1">' + '@CommonResx.Yes' + '</option></select>',
        optionalFieldValueDrpDown: '<select id="Value" name="ValueYesNo"><option value="0">' + '@CommonResx.No' + '</option><option value="1">' + '@CommonResx.Yes' + '</option></select>',
        optionalFieldRequiredDrpDown: '<select id="Data_Required" name="required"><option value="0">' + '@CommonResx.No' + '</option><option value="1">' + '@CommonResx.Yes' + '</option></select>',
        optionalFieldAutoInsertDrpDown: '<select id="Data_AutoInsert" name="autoinsert"><option value="0">' + '@CommonResx.No' + '</option><option value="1">' + '@CommonResx.Yes' + '</option></select>',
    };

</script>
