@*
  The MIT License (MIT) 
  Copyright (c) 1994-2018 The Sage Group plc or its licensors.  All rights reserved.
 
  Permission is hereby granted, free of charge, to any person obtaining a copy of 
  this software and associated documentation files (the "Software"), to deal in 
  the Software without restriction, including without limitation the rights to use, 
  copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
  Software, and to permit persons to whom the Software is furnished to do so, 
  subject to the following conditions:
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software.
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF 
  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
  OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Attributes
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Utilities
@using Sage.CA.SBS.ERP.Sage300.Common.Web
@using System.Linq
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using filter = Sage.CA.SBS.ERP.Sage300.Common.Models
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.FinderViewModel

@Html.Partial(Shared.CoreLocalization)
<div class="finder_popUp">
    <div id="message"></div>
    <div class="form-group">
        <div class="dropdown-group">
            @Html.KoSageDropDownList("ColumnDropdown", null, new { @id = "ColumnDropdown", @autofocus = "autofocus", @class = "default" })
        </div>
        <div class="dropdown-group">
            <div id="OperatorDropdownDiv">
                @Html.KoSageDropDownList("OperatorDropdown", null, new { @id = "OperatorDropdown", @class = "clsOperatorDropDown default" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div id="ValueDropDownDiv">
                @Html.KoSageDropDownList("ValueDropDown", null, new { @id = "ValueDropDown", @class = "clsValueDropDown default" })
                @Html.SageTextBox("ValueTextBox", null, new { @id = "ValueTextBox" })
                <div id="NumericTextBoxDiv">
                    @Html.SageTextBox("NumericTextBox", null, new { @id = "NumericTextBox", @class = "numeric default" })
                </div>
            </div>
        </div>
        <div class="buttons-group">
            @Html.KoSageButton("btnSearch", null, new { @class = "btn btn-default", @value = CommonResx.Search, @id = "btnSearch" })
        </div>
    </div>
    <div class="clear-fix"></div>
    <div id="divButtonWrapper" class="gridcontrols-group">
        @Html.SageButtonNoName(CommonResx.EditColumns, new { @id = "btnFinderPrefEditCols", @class = "btn btn-default btn-grid-control btn-edit-column" })
    </div>

    <div id="divFinderPrefEditCols" class="user-preference" style="display:none;">
        <table>
            <thead>
                <tr>
                    <td>@CommonResx.EditColumns</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="table-scroll">
                            <table border="0" id="tblFinderPref">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="child">
                                                @Html.SageCheckBox("chkSelectAll", false, new { @class = "icon checkbox", @value = CommonResx.All, @id = "chkSelectAll", @for = "chkSelectAll" })
                                                @Html.SageLabel(CommonResx.All, new { @class = "check-all", @for = "chkSelectAll" })
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tblTBodyFinderPref"></tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="user-edit">
                        @Html.KoSageButton("btnFinderPrefApply", null, new { @class = "btn btn-primary", @value = CommonResx.Apply, @id = "btnFinderPrefApply" })
                        @Html.KoSageButton("btnFinderPrefCancel", null, new { @class = "btn btn-secondary", @value = CommonResx.Cancel, @id = "btnFinderPrefCancel" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <a id="btnFinderPrefRestore">@CommonResx.RestoreTableDefaults</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="clear-fix">
    <div id="div_finder_grid"></div>
</div>
<div class="clear-fix"></div>
<div id="buttons" class="footer-group">
    @Html.KoSageButton("Select", null, new { @class = "btn btn-primary", @value = CommonResx.Select1, @id = "select" })
    @Html.KoSageButton("Cancel", null, new { @class = "btn btn-secondary", @value = CommonResx.Cancel, @id = "cancel" })
</div>
<div class="clear-fix"></div>
<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("finderModelDetail", Model.DataList);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderModelColumnsList", Model.GridColumns);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderSchemaModelType", Model.GridSchemaColumns);
    @Html.ConvertToJsVariableUsingNewtonSoft("finderTotalRecordsCount", Model.TotalResultsCount);
    @Html.ConvertToJsVariableUsingNewtonSoft("SetFilterTitle", CommonResx.SetFilter);
    @Html.ConvertToJsVariableUsingNewtonSoft("StartsWith", CommonResx.StartsWith);
    @Html.ConvertToJsVariableUsingNewtonSoft("Contains", CommonResx.Contains);
    @Html.ConvertToJsVariableUsingNewtonSoft("searchFinder", Model.SearchFinder);
</script>


