@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Portal
@using Sage.CA.SBS.ERP.Sage300.Common.Resources;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@HomePageResx.UnsupportedBrowserErrorPageTitle</title>
    @Styles.Render("~/Content/Styles/portalcss")

</head>
<body class="odtd-bwr master-stand-alone">
    <div class="firstTenantSetUp">
        <div class="header-global">
            <div class="container_16">
                <div class="fTSetUpHeding ">
                    <div class="Sage_logo">
                        <a id="lnkLogo" href="#">
                            <img src="~/Content/Images/sage_300_logo_white.png" height="25" alt="Sage 300" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="container_16">
            <div class="fTSetUpcontent">
                <div class="message-control multiWarn-msg odtd-bwr">
                    <div class="title">
                        <span class="icon multiWarn-icon"></span>
                        <h3 id="labelWarningBackup">@HomePageResx.UnsupportedBrowserErrorTitle</h3>
                    </div>
                    <div class="msg-content odtd-bwr">
                        <p>@HomePageResx.UnsupportedBrowserErrorMessage</p>
                        <ul class="odtd-bwr-cotainer">
                            <li class="odtd-bwr chrome">
                                <a href="http://www.google.com/chrome/" target="_blank">
                                    <span class="odtd-bwr-icon chromeicon"></span>
                                    <span class="odtd-bwr-content">@CommonResx.Download <br />@HomePageResx.BrowserChrome</span>
                                </a>
                            </li>
                            <li class="odtd-bwr ie">
                                <a href="http://www.microsoft.com/ie/" target="_blank">
                                    <span class="odtd-bwr-icon ieicon"></span>
                                    <span class="odtd-bwr-content">@CommonResx.Download  <br />@HomePageResx.BrowserIE</span>
                                </a>
                            </li>
                            <li class="odtd-bwr firefox">
                                <a href="http://www.mozilla.org/firefox/" target="_blank">
                                    <span class="odtd-bwr-icon firefoxicon"></span>
                                    <span class="odtd-bwr-content">@CommonResx.Download <br />@HomePageResx.BrowserFirefox</span>
                                </a>
                            </li>
                            <li class="odtd-bwr safari">
                                <a href="http://www.apple.com/safari/" target="_blank">
                                    <span class="odtd-bwr-icon safariicon"></span>
                                    <span class="odtd-bwr-content">@CommonResx.Download  <br />@HomePageResx.BrowserSafari</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="clear-fix"></div>

        </div>
    </div>
    @Html.Partial("~/Views/Partials/_Footer.cshtml")

    @*<script src="~/Scripts/JQueryUI/jquery-1.11.1.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $('.odtd-bwr').each(function () {
                var iframeHeight = $(window).height() - 40;
                $(".odtd-bwr .firstTenantSetUp").css('min-height', iframeHeight);
            });
            $(".footer_container").show();
        });
    </script>
</body>
</html>