@* The MIT License (MIT) *@
@* Copyright (c) 1994-2017 The Sage Group plc or its licensors.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@model ValuedPartner.Web.Areas.TU.Models.SourceJournalProfileViewModel<ValuedPartner.TU.Models.SourceJournalProfile>
@using Sage.CA.SBS.ERP.Sage300.Core.Web.Models
@using Sage.CA.SBS.ERP.Sage300.GL.Web.Constants
@using ValuedPartner.TU.Models
@using SourceJournalProfileResx = ValuedPartner.TU.Resources.Forms.SourceJournalProfileResx

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums
@using AnnotationsResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.AnnotationsResx

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("sourceJournalViewModel", Model)
</script>

@Html.Partial("~/Areas/TU/Views/SourceJournalProfile/Partials/_Localization.cshtml")
<div>
    @Html.ValidationSummary(true)
</div>

<div class="form-screen">
    <div id="success"></div>
    <div id="message"></div>
    <header>
        <section class="header-group-1">
            <div class="header-wrapper">
                <div class="header-headline">
                    @Html.SageHeader1Label("SourceJournalProfileHeader", SourceJournalProfileResx.Entity)
                </div>
                @*@Html.Partial(Core.OptionsMenu, Model.UserAccess)*@
                <div class="header-options">
                    @if (Model.UserAccess.SecurityType.HasFlag(SecurityType.Modify))
                    {
                        @Html.KoSageButton("btnNewSourceJournal", null, new { @value = CommonResx.CreateNew, @id = "btnNewSourceJournal", @class = "btn btn-primary" })
                    }
                </div>
            </div>
        </section>
    </header>

    <div class="form-group">
        <div class="search-group">
            @Html.SageLabelFor(model => model.Data.SourceJournalName)
            @Html.KoSageTextBoxFor(model => model.Data.SourceJournalName, new { @sagevalue = "Data.SourceJournalName", @valueUpdate = "'input'" }, new { @class = "large" })
            @Html.SageButton("btnGoSourceCode", new { @id = "btnGoSourceCode", @class = "icon btn-go", @tabindex = "-1" })
            @Html.SageButton("btnSourceJournalCodeFinder", new { @id = "btnSourceJournalCodeFinder", @class = "icon btn-search", @tabindex = "-1", @disable = "Data.IsModifyAccess" })
            @Html.ValidationMessageFor(m => m.Data.SourceJournalName)
        </div>
    </div>
    
    @*Grid Partial*@
    @Html.Partial("~/Areas/TU/Views/SourceJournalProfile/Partials/_SourceJournalProfileGrid.cshtml", new ValuedPartner.TU.Models.SourceCode())
    
    <section class="footer-group-1">
        @if (Model.UserAccess.SecurityType.HasFlag(SecurityType.Modify))
        {
            @Html.KoSageButton("btnDeleteSourceJounalProfile", null, new { @id = "btnDeleteSourceJounalProfile", @value = CommonResx.Delete, @class = "btn btn-primary" })
            @Html.KoSageButton("btnSave", null, new { @id = "btnSave", @value = CommonResx.Save, @class = "btn btn-primary" })
        }
    </section>
</div>