@* The MIT License (MIT) *@
@* Copyright (c) 1994-2017 Sage Software, Inc.  All rights reserved. *@
@* *@
@* Permission is hereby granted, free of charge, to any person obtaining a copy of *@
@* this software and associated documentation files (the "Software"), to deal in *@
@* the Software without restriction, including without limitation the rights to use, *@
@* copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the *@
@* Software, and to permit persons to whom the Software is furnished to do so, *@
@* subject to the following conditions: *@
@* *@
@* The above copyright notice and this permission notice shall be included in all *@
@* copies or substantial portions of the Software. *@
@* *@
@* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, *@
@* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A *@
@* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT *@
@* HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF *@
@* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE *@
@* OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. *@

@model ValuedParter.Web.Areas.TU.Models.ReceiptViewModel 
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@using ReceiptResx = ValuedParter.TU.Resources.Forms.ReceiptHeaderResx

<div id="exchangeRate"> 
            <hr />  
            <div class="form-group">
                <div class="input-group">
                    @Html.SageLabel("lblFunctionalCurrency", ReceiptResx.FunctionalCurrency)
                    @Html.KoSageTextBox("txtFunctionalCurrency", new { @value = "Data.HomeCurrency" }, new { @maxlength = "3", @disabled = "true", @tabindex = -1, @class = "txt-upper default" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    @Html.SageLabel("lblReceiptCurrency", ReceiptResx.ReceiptCurrency)
                    @Html.KoSageTextBox("txtReceiptCurrency", new { @value = "Data.ReceiptCurrency" }, new { @maxlength = "3", @disabled = "true", @tabindex = -1, @class = "txt-upper default" })
                </div>
            </div>
            <div class="form-group">
                <div class="datepicker-group">
                    @Html.SageLabel("lblRateDate", ReceiptResx.RateDate)
                    @Html.KoSageTextBoxFor(model => model.Data.RateDate, new { @sageDatePicker = "Data.RateDate" }, new { @disabled = "true",@tabindex = -1, @id = "txtRateDate", @class = "datepicker default" })
                </div>
            </div>
            <div class="form-group">
                <div class="search-group">
                    @Html.SageLabel("lblRateType", ReceiptResx.RateType)
                    @Html.KoSageTextBoxFor(model => model.Data.RateType, new { @sagevalue = "Data.RateType", @valueUpdate = "'input'", @sagedisable = "Data.disableExchangeRate" }, new { @maxlength = "2", @class = "txt-upper default", @formatTextbox = "alphaNumeric" })
                    @Html.KoSageButton("btnRateType", new { @value = "Data.RateType", @disable = "false" }, new
                        {
                            @id = "btnRateType",
                            @tabindex = -1,
                            @class = "icon btn-go"
                        })
                    @Html.KoSageButton("btnRateTypeFinder", new { @sagedisable = "Data.disableExchangeRate" }, new { @class = "icon btn-search", @id = "btnRateTypeFinder", @tabindex = -1 })
                </div>
            </div>
            <div class="form-group">
                <div class="numeric-search-group">
                    @Html.SageLabel("lblExchangeRate", ReceiptResx.ExchangeRate)
                    @Html.KoSageNumericBoxFor(model => model.Data.ExchangeRate, new { @sagevalue = "Data.ExchangeRate", @valueUpdate = "'input'", @sagedisable = "Data.disableExchangeRate" }, new { @id = "txtpopupExchangeRate", @maxlength = "15", @class = "default align-right kendonumeric" })
                    @Html.KoSageButton("btnExchangeRate", new { @value = "Data.ExchangeRate", @disable = "false" }, new
                        {
                            @id = "btnExchangeRate",
                            @tabindex = -1,
                            @class = "icon btn-go"
                        })
                    @Html.KoSageButton("btnExchangeRateFinder", new { @sagedisable = "Data.disableExchangeRate" }, new { @class = "icon btn-search", @id = "btnExchangeRateFinder", @tabindex = -1 })
                </div>
            </div>
        </div> 
