@* Copyright (c) 1994-2023 Sage Software, Inc.  All rights reserved. *@

@using System.Web.UI.WebControls
@using Sage.CA.SBS.ERP.Sage300.Common.Resources.Portal;
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@using CommonModels = Sage.CA.SBS.ERP.Sage300.Common.Models
@using Auth = Sage.CA.SBS.ERP.Sage300.Common.Models.Authentication
@using filter = Sage.CA.SBS.ERP.Sage300.Common.Models
@using Sage.CA.SBS.ERP.Sage300.Core.Configuration
@using Constants = Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants.Shared;
@using CoreConstants = Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants.Core;
@using NoteConstants = Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants.Note;
@using AsConstants = Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants.AdministrativeService;
@using WebModel = Sage.CA.SBS.ERP.Sage300.Web.Models;
@using Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Utilities;
@using Sage.CA.SBS.ERP.Sage300.Common.Web.Utilities;
@using Sage.CA.SBS.ERP.Sage300.Web.Models;
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Portal;
@using Sage.CA.SBS.ERP.Sage300.KN.Web.Models;
@using Sage.CA.SBS.ERP.Sage300.KN.Models;
@using Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Inquiry;
@using System.Linq;

<!DOCTYPE html>
@{
    Page.Title = @CommonResx.Title + " [" + @Model.CompanyName + "]";
}
@{
    var menuUrlList = ViewBag.MenuUrlList as List<WebModel.NavigableMenuViewModel<Sage.CA.SBS.ERP.Sage300.Common.Models.Portal.NavigableMenu>>;
    var widgetUrlList = ViewBag.WidgetUrlList as WebModel.NavigableMenuViewModel<Sage.CA.SBS.ERP.Sage300.Common.Models.Portal.NavigableMenu>;
    int numberOfActiveWindows;
    int.TryParse(ConfigurationHelper.GetConfigValue("NumberOfActiveWindows"), out numberOfActiveWindows);
    var hasGlobalSearchLicense = ViewBag.HasGlobalSearchLicense;
}
<html class="template-side-nav page-collapsed home-page">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="x-ua-compatible" content="IE=11, IE=Edge" /> <!-- Use Internet Explorer 11 and above Standards mode -->
    <title>@Page.Title</title>
    @Styles.Render("~/Assets/Styles/css/portalcss")
    @Styles.Render("~/Assets/Styles/css/widgetCss")
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" id="favicon">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*Set Cookie in case not already set.  Also set user management URL (if any) and flag
        indicating whether or not auto-launching of Notes for an entity is enabled.*@
    @*NOTE: The booleans coming from the C# Razor code end up as literals True/False, which
        are not valid JavaScript.  We need to convert them to lowercase literals true/false.*@
    <script type="text/javascript">
        var sessionDateCookieConfig = {
            timeOutValue: '@ConfigurationHelper.SessionDateTimeOut',
        }

        var umURL = '@ViewBag.UmURL';
        var isNotesAutoLaunchEnabled = @(ConfigurationHelper.IsNotesAutoLaunchEnabled ? "true" : "false");
        var RECENT_WIN_LIMIT_CONST = @ViewBag.RecentWindowsLimit;
        var LOGGED_IN_USERNAME_CONST = '@Model.UserName'.replace(/\s/g,'');
        var LOGGED_IN_TENANT_CONST = '@Model.CompanyName'.replace(/\s/g,'');
        var menuUserPreferenceKey = '@ViewBag.menuUserPreferenceKey';
        var formSizeUserPreferenceKey = '@ViewBag.formSizeUserPreferenceKey';
        var formSizeResetConfirmation = '@NavigationResx.FormSizeResetConfirmation';
        var formSizeResetConfirmationTitle = '@CommonResx.Confirmation';
    </script>
</head>

<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPortal" }))
    {
        @Html.Partial(Constants.FeatureTour)
        @Html.Partial(Constants.CommonPortalLayout)
        <div id="message"></div>
        <div id="success"></div>

        <header class="header" id="globalHeader">
            <div class="header-global" id="header">
                <a class="logo-product" id="logoSage300" autofocus="autofocus" alt="Sage 300" href="javascript:;"></a>
                <a id="skipMenu" tabindex="0" class="skip-menu" href="#menuPrefButton">@HomePageResx.SkipMenu</a>
                <div class="globalNavigation">
                    <a class="last_container session-date" href="javascript:sessionDateClick()">
                        <span id="sessionDateIcon"></span>
                        <span class="text-right" id="sessionDatelabel">@HomePageResx.Session_Date:&nbsp;</span>
                        <span id="spnSessionDate"></span>
                        <div class="clearfix"></div>
                        <div id="divDatePicker" class="session-date-widget-container">
                            <div class="session-date-widget">
                                <div class="form-group">
                                    @RenderSection("sessionDate", required: false)
                                </div>
                            </div>
                        </div>
                        <div id="msgDiv" class="message-control multiWarn-msg hide addWidget">
                            <div class="title">
                                <span class="icon multiWarn-icon"></span>
                                <h3 id="labelWarningBackup"></h3>
                            </div>
                            <div class="msg-content">
                                <p id="sessionDtMsg"></p>
                                <div class="footer">
                                    <input class="btn-primary right" id="btnProcess" name="btnProcess" type="button" value="@CommonResx.Close" />
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="top_nav">
                        <ul id="topMenu" class="">
                            <li id="topMenuUser">
                                <span class="txt-top-menu">@RenderSection("username", required: false)</span>
                                <ul>
                                    <li id="liSignOut" class="top_nav_drop_content">
                                    </li>
                                </ul>
                            </li>
                            <li id="companyNameMenu">
                                <span class="txt-top-menu">@RenderSection("companyName", required: false)</span>
                            </li>
                            @if (hasGlobalSearchLicense)
                            {
                                <li class="menu-item-with-icon" id="globalSearch">
                                    <i class="global-search glyphicon glyphicon-md glyphicon-magnifying-glass" title="@NavigationResx.SearchTitle"><span>@NavigationResx.Search</span></i>
                                </li>
                            }
                            <li class="menu-item-with-icon" id="helpMenu">
                                <i class="help glyphicon glyphicon-md glyphicon-quick-help" title="@NavigationResx.HelpTitle"><span>@NavigationResx.Help</span></i>
                                <ul id="searchHelpDiv">
                                </ul>
                            </li>
                            <li class="menu-item-with-icon" id="topMenuSettings">
                                <i class="settings glyphicon glyphicon-md glyphicon-setting" title="Settings"><span>@NavigationResx.Settings</span></i>
                                <ul>
                                    @*<li id="unpinMainNav"><i class="unpin"></i><span class="settings-menulist" id="labelUnpin">@NavigationResx.UnpinMenu</span></li>
                                        <li id="pinMainNav"><i class="pin"></i><span class="settings-menulist" id="labelPin">@NavigationResx.PinMenu</span></li>
                                        <li id="btnColorPicker"><span class="settings-menulist" id="labelCompanyColor">@NavigationResx.SetCompanyColor</span></li>
                                        <li id="btnColorPickerDB"><span class="settings-menulist" id="labelCompanyColorDB">@NavigationResx.SetCompanyColorDB</span></li>*@
                                    <li id="btnFormSize">
                                        <span class="settings-menulist" id="labelFormSize">@NavigationResx.TextSize</span>
                                        <ul>
                                            <li id="btnFormSizeLarge"><a href="javascript:;" class="settings-menulist" id="labelFormSizeLarge">@NavigationResx.Large</a></li>
                                            <li id="btnFormSizeMedium"><a href="javascript:;" class="settings-menulist" id="labelFormSizeMedium">@NavigationResx.Medium</a></li>
                                            <li id="btnFormSizeSmall"><a href="javascript:;" class="settings-menulist" id="labelFormSizeSmall">@NavigationResx.Small</a></li>
                                            <li id="btnFormSizeReset"><a href="javascript:;" class="settings-menulist" id="labelFormSizeReset">@CommonResx.Reset</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-with-icon" id="topMenuTools">
                                <i class="settings tools glyphicon glyphicon-md glyphicon-lightning" title="@NavigationResx.ToolsTitle"><span>@NavigationResx.Tools</span></i>
                            </li>
                        </ul>
                    </div>
                </div>
                @*NOTE: Company Theme Color - color picker - leaving the code for the future usage*@
                @*<div class="color-picker" id="colorPicker">
                        <div class="wrapper-color-picker">
                            <div class="column">
                                <h3 class="title">Select Theme Color</h3>
                                <div id="palette"></div>
                            </div>
                            <div class="column">
                                <h3 class="title"><label for="picker">Choose Custome Theme Color</label></h3>
                                <input id="picker" />
                            </div>
                        </div>
                        <div class="glyphicon glyphicon-close dismiss" title="Dismiss" id="btnColorPickerClose"></div>
                    </div>*@
            </div>
        </header>
        <div class="master-wrapper">
            <nav class="side-nav side-nav-collapsed" id="navbarSide">
                <div class="wrapper">
                    <ul class="primary-list" id="listPrimary">
                        <li class="menu-item" data-menuid="101" id="homeNav">
                            <div class="nav-icon">
                                <img src="~/Content/Images/nav/icon_home.png" alt="Home" width="20" height="20">
                                <img src="~/Content/Images/nav/icon_home_hover.png" alt="Home" width="20" height="20">
                            </div>
                            <a tabindex="0">@NavigationResx.Home</a>
                        </li>
                        @Html.Partial(Constants.PortalMenu, menuUrlList)
                    </ul>
                    <div id="menuPrefTogglerAlt">
                        <a name="menuPrefButton" id="menuPrefButton"></a>
                        <button id="btnExpandMenuAlt" class="btn-nav-expand" title="@NavigationResx.ExpandMenu"></button>
                        <button id="btnCollapseMenuAlt" class="btn-nav-collapse" title="@NavigationResx.CollapseMenu"></button>
                    </div>
                </div>
                <div id="menuPrefToggler">
                    <button id="btnExpandMenu" class="btn-nav-expand" title="@NavigationResx.ExpandMenu"></button>
                    <button id="btnCollapseMenu" class="btn-nav-collapse" title="@NavigationResx.CollapseMenu"></button>
                </div>
            </nav>
            <main class="portal-main-body">
                <div class="wrapper">
                    <div id="breadcrumb"></div>
                </div>
                <div class="clear"></div>
                <div class="container" style="position: relative">
                    <div class="container_popUp Widget widgetList main" id="addRemoveWidget">
                        <div class="pad_bot_1">
                            <div class="mod_title widgetList">
                                <h3>@HomePageResx.Widgets</h3>
                                <i class="portalIcon closeIcon"></i>
                            </div>
                            <div class="clear"></div>
                            <div class="alpha">
                                <ul class="showWidget" id="lstWidget">
                                    @foreach (NavigableMenuViewModel<NavigableMenu> item in ViewBag.Widgets)
                                    {
                                        var checkBoxId = "chk" + item.Data.WidgetId;
                                        <li class="widgetItem">
                                            <label class="checkbox-container">
                                                <input type="checkbox" class="chkWidget" id="@checkBoxId" widgetid="@item.Data.WidgetId" />
                                                <span class="checkmark"></span>
                                            </label>
                                            <label for="@checkBoxId">@item.Data.MenuName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_container" id="widgetLayout" style="display: none">
                    <div class="main_title">
                        @Html.Partial(Constants.PortalAddWidget, widgetUrlList)
                    </div>
                    <div class="kpi-wrapper">
                        <div class="kpis">
                            @Html.Partial(Constants.PortalWidget)
                        </div>
                    </div>
                </div>
                <div id="html-classes"></div>
                <div id="widgetHplayout" class="container" style="display: block">
                    <div class="main_title">
                        @if (ViewBag.TimeCardUser == null || !ViewBag.TimeCardUser)
                        {
                            <div class="addWidgetHL">
                                <div class="top-buttons addWidgets"><span>@HomePageResx.AddWidgets</span></div>
                            </div>
                        }
                    </div>
                    <div class="widgetHpCotainer">
                        <div class="empty-state-postage">
                            <img src="~/Content/Images/empty_state.svg" width="100%" alt="@HomePageResx.SeeIntoYourData - @HomePageResx.ViewWidgets" />
                        </div>
                        <div class="empty-state-text">
                            <h1 id="lblSeeIntoYourData">@HomePageResx.SeeIntoYourData</h1>
                            <div class="empty-state-message">
                                <span>@HomePageResx.CustomizeWidgetMessage1 @HomePageResx.CustomizeWidgetMessage2</span>
                            </div>
                            <button id="lnkAddWidgets" class="btn btn-primary">@HomePageResx.ViewWidgets</button>
                        </div>
                    </div>
                </div>
                <div class="body-content-wrapper">
                    <div class="container body_content" id="screenLayout" style="display: none;">
                        <div id="iframeWrapper1">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu1" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper2">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu2" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper3">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu3" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper4">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu4" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper5">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu5" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper6">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu6" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper7">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu7" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper8">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu8" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper9">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu9" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper10">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu10" src="" class="screenIframe"></iframe>
                        </div>
                        <div id="iframeWrapper11">
                            <iframe scrolling="no" sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation allow-downloads allow-modals" id="iFrameMenu11" src="" class="screenIframe"></iframe>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                @Html.SetClickJackFix()
                <div class="body_container hide">
                    <div class="container body-content hide">
                        @RenderBody()
                    </div>
                </div>
                <div class="clear"></div>
                @Html.Partial(Constants.PortalFooter)
            </main>
        </div>
        <div class="clear"></div>
        <input type="hidden" id="hdnNumberOfActiveWindows" value="@numberOfActiveWindows">
        <input type="hidden" id="hdnTenantName" value="@ViewBag.TenantName" />
        <!--Quick Menu (draggable sidebar)-->
        @Html.Partial(Constants.QuickMenu)

        if (ViewBag.KNActive != null && ViewBag.KNActive && (ViewBag.ARActive != null && ViewBag.ARActive || ViewBag.APActive != null && ViewBag.APActive || ViewBag.ICActive != null && ViewBag.ICActive))
        {
            <!--Note Editor Panel-->
            @Html.Partial(NoteConstants.NoteEditor, new NoteViewModel<Note>())

            <!--Notes Center -->
            @Html.Partial(NoteConstants.NotesCenter, new NotesSearchViewModel<NotesSearch>())
            @Scripts.Render("~/bundles/note")
        }

        <!--Custom Report-->
        @Html.Partial(AsConstants.CustomReport, new ViewDataDictionary { { "IsAdmin", ViewBag.isAdmin } })
        if (ViewBag.isAdmin)
        {
            @Html.Partial(AsConstants.CustomAddReport)
        }
        @Scripts.Render("~/bundles/CustomReport")

        <!--Start Inquiries-->
        @Html.Partial("~/Areas/Core/Views/Inquiry/_InquiryTool.cshtml")
        @Scripts.Render("~/bundles/InquiryPanelUI")
        @Html.Partial("~/Areas/Core/Views/AdhocInquiry/Partials/_SaveQueryPanel.cshtml")
        @Html.Partial("~/Areas/Core/Views/AdhocInquiry/Partials/_OpenQueryPanel.cshtml")
        @Scripts.Render("~/bundles/SaveInquiryQuery")

        <!--End Inquiries-->

        <script id="delete-confirmation" type="text/x-kendo-template">
            <div class="fild_set">
                <div class="fild-title delete-message" id="del-message">
                    <div id="title-text"></div>
                </div>
                <div class="fild-content">
                    <div id="body-text"></div>
                    <div class="modelBox_controlls">
                        <input type="button" class="btn btn-secondary delete-cancel" id="kendoConfirmationCancelButton" value=@CommonResx.No />
                        <input type="button" class="btn btn-primary delete-confirm" id="kendoConfirmationAcceptButton" value=@CommonResx.Yes />
                    </div>
                </div>
            </div>
        </script>
        <script id="dialog-confirmation" type="text/x-kendo-template">
            <div class="fild_set">
                <div class="fild-title dialog-message" id="dialog-message">
                    <div id="title-text"></div>
                </div>
                <div class="fild-content">
                    <div id="body-text"></div>
                    <div class="modelBox_controlls">
                        <input type="button" class="btn btn-secondary dialog-cancel" id="kendoConfirmationCancelButton" value=@CommonResx.No />
                        <input type="button" class="btn btn-primary dialog-confirm" id="kendoConfirmationAcceptButton" value=@CommonResx.Yes />
                    </div>
                </div>
            </div>
        </script>


        @Scripts.Render("~/bundles/sessionDateCookie")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/ajaxQ")
        @Scripts.Render("~/bundles/shared")
        @Scripts.Render("~/bundles/portal")
        @Scripts.Render("~/bundles/core")
        <!-- put condition for wizard here -->
        if (ViewBag.NewTenantModel != null)
        {
            @Html.Partial(CoreConstants.Wizard, ViewBag.NewTenantModel as Sage.CA.SBS.ERP.Sage300.Core.Web.Models.NewTenantViewModel<Sage.CA.SBS.ERP.Sage300.Core.Web.Models.NewTenant>)
            @Scripts.Render("~/bundles/Wizard")
        }
        var sessionPreferredLanguage = SessionUtility.Provider.Get<string>
            (Constants.UserPreferredLanguage);
        if (sessionPreferredLanguage != null)
        {
            var language = sessionPreferredLanguage.Replace("-", "");
            @Scripts.Render(string.Format("~/bundles/kendoCulture{0}", language))
        }
        @RenderSection("scripts", required: false)
    }
</body>
</html>