@* Copyright (c) 2017 Sage Software, Inc.  All rights reserved. *@

@using Sage.CA.SBS.ERP.Sage300.Common.Resources

<div id="saveQueryPanel" class="side-panel side-panel-shadow create-inquiry">
    <div class="side-panel-wrapper">
        <div class="header-container">  
            <h1 class="side-panel-header header-inquiry" id="hCreateInquiry">@InquiryResx.SaveQuery</h1>
            <div class="glyphicon glyphicon-close dismiss" title="Dismiss" id="btnCreateInquiryClose"></div>
        </div>
        <div class="wrapper">
            <div id="savedQueryGrid" class="datagrid-group"></div>
            
            <div class="form-group">
                <div class="input-group">
                    <label>@InquiryResx.QueryName</label>
                    <input type="text" id="SaveQueryPanel_QueryName" value="" class="medium">
                </div>
                
            </div>
            <div class="form-group">
                <div class="ctrl-group">
                    <div class="radio">
                        @Html.KoSageRadioButton("queryType_Public", 1, new { }, new { @id = "rdbPublicQueryType" })
                        @Html.SageLabel("lblPublicQueryType", InquiryResx.PublicTypeDesc, new { @for = "rdbPublicQueryType" })
                    </div>
                    <div class="radio">
                        @Html.KoSageRadioButton("queryType_Private", 1, new { }, new { @id = "rdbPrivateQueryType" })
                        @Html.SageLabel("lblPrivateQueryType", InquiryResx.PrivateTypeDesc, new { @for = "rdbPublicQueryType" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>@InquiryResx.Description</label>
                    <input type="text" value="" class="medium" id="SaveQueryPanel_QueryDescription">
                </div>
            </div>
            <div class="footer-group">
                @Html.KoSageButton("btnCancel", new { }, new { @value = CommonResx.Cancel, @id = "btnCancel", @class = "btn btn-secondary" })
                @Html.KoSageButton("btnSave", new { }, new { @value = CommonResx.Save, @id = "btnSave", @class = "btn btn-primary btn-inquiry-save" })
            </div>
        </div>
    </div>
</div>

<script>
    var savedQueryResources = {
        QueryName: '@Html.SageRaw(InquiryResx.QueryName)',
        DateModified: '@Html.SageRaw(InquiryResx.DateModified)',
        Type: '@Html.SageRaw(CommonResx.Type)',
        Public: '@Html.SageRaw(InquiryResx.Public)',
        Private: '@Html.SageRaw(InquiryResx.Private)'
    };
    

    $('#btnCreateInquiryClose').click(function () {
        $('#saveQueryPanel').removeClass("slide-in").removeClass("slide-in-note-edit");
    });

</script>

