@using Sage.CA.SBS.ERP.Sage300.Common.Resources
@* Copyright (c) 1994-2019 Sage Software, Inc.  All rights reserved. *@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="x-ua-compatible" content="IE=11, IE=Edge" /> <!-- Use Internet Explorer 11 and above Standards mode -->
    <title>@CommonResx.Title</title>
    @Styles.Render("~/Assets/Styles/css/standaloneCss")
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" id="favicon">
</head>
<body class="master-stand-alone">
    <section class="header">
        <div class="wrapper">
            <div class="Sage_logo"><img src="~/Content/Images/sage_300_logo_white.png" width="116" alt="Sage 300"></div>
        </div>
    </section>
    <section class="main-body">

        @RenderBody()

    </section>

    <section class="footer affix-bottom">
        <div class="wrapper">
            @string.Format(@CommonResx.GlobalCopyright, @DateTime.Today.Year)
        </div>
    </section>
    <div id="task_viewnote"></div>
    <div id="task_createnote"></div>

<script>
    function affixFooter() {
        $('.footer').removeClass('affix-bottom').addClass(function () {
            if (window.innerHeight >= $('body').outerHeight(true)) return 'affix-bottom';
        });
    }
</script>
</body>
</html>
