@* Copyright (c) 1994-2016 Sage Software, Inc.  All rights reserved. *@

@model Sage.CA.SBS.ERP.Sage300.Core.Web.Models.LoginViewModel
@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using ASCommonResx = Sage.CA.SBS.ERP.Sage300.AS.Resources.ASCommonResx
@using CommonResx = Sage.CA.SBS.ERP.Sage300.Common.Resources.CommonResx
@using Sage.CA.SBS.ERP.Sage300.Common.Web.HtmlHelperExtension
@using Sage.CA.SBS.ERP.Sage300.Common.Models.Enums

@Styles.Render("~/Assets/Styles/css/standaloneCss")

<script type="text/javascript">
    @Html.ConvertToJsVariableUsingNewtonSoft("LoginViewModel", Model)
</script>

@Html.Partial(Core.OnPremiseLocalization)
<div id="success"></div>

@*<div id="changePassword" class="k-window"></div>*@
<div class="Sage_logo"><img src="~/Assets/images/login/sage300-logo-brilliant-green.png" height="75" alt="Sage 300"></div>
<section class="header login" id="sectionLogin">
    <div class="wrapper">
        <div class="main-body login show" id="bodyMain">
            <div>
                @Html.ValidationSummary(true)
            </div>

            @*<h1 class="page-header" id="loginHeader">@ASCommonResx.SignInSage300</h1>*@

            @if (Model.ForAdmin)
            {
                <h2 class="page-header-2" id="loginHeader2">@ASCommonResx.SignInSage300Admin</h2>
            }
            <div id="message" class="message-login"></div>
            <div class="Sage_logo"><img src="~/Assets/images/login/sage_300_logo_300.png" height="30" alt="Sage 300"></div>
            <div class="version">@System.Configuration.ConfigurationManager.AppSettings["Sage300Version"]</div>
            <div class="form-group">
                <div class="input-group">
                    <label class="label-login">@ASCommonResx.UserID</label>
                    @Html.KoSageTextBoxFor(m => m.UserId, new { @sagevalue = "UserId" }, new { @id = "txtUserId", @class = "txt-upper login", data_val = "true", @maxlength = "8", @autocomplete = "off" })
                </div>
            </div>
            <div class="form-group" id="passwordDiv">
                <label class="label-login">@ASCommonResx.Password</label>
                <div class="input-group">
                    @Html.KoSagePasswordFor(m => m.Password, new { @sagevalue = "Password" }, new { @id = "txtPassword", @class = "login", data_val = "true", @maxlength = "64", @autocomplete = "off" })
                    <span class="icon-eye" id="iconEye" toggle="#txtPassword"></span>
                </div>
            </div>
            <div class="form-group">
                @if (Model.ForAdmin)
                {
                    <div class="dropdown-group" style="display: none">
                        <label class="label-login">@ASCommonResx.Company</label>
                        @Html.SageDropDownListFor(model => model.CompanyDisplayList, Model.CompanyDisplayList, new { @class = "login", @id = "CompanyId" })
                    </div>
                    <div class="dropdown-group">
                        <label class="label-login">@ASCommonResx.System</label>
                        @Html.SageDropDownListFor(model => model.SystemIdDisplayList, Model.SystemIdDisplayList, new { @class = "login", @id = "SystemId" })
                    </div>
                }
                else
                {
                    <div class="dropdown-group">
                        <label class="label-login">@ASCommonResx.Company</label>
                        @Html.SageDropDownListFor(model => model.CompanyDisplayList, Model.CompanyDisplayList, new { @class = "login", @id = "CompanyId" })
                    </div>
                }
            </div>
            <div class="button-group">
                <div id="btnAjaxSpinner" class="spinner">
                    <div class="bounce bounce1"></div>
                    <div class="bounce bounce2"></div>
                    <div class="bounce bounce3"></div>
                </div>
                @Html.KoSageButton("btnLogin", new { }, new { @value = ASCommonResx.Login, @id = "btnLogin", @class = "btn btn-primary btn-login" })
                @if (!Model.ForAdmin)
                {
                    <div id="changePasswordDiv" class="button-footer align-left">
                        <a id="lnkChangePassword" class="text-button" href="#" onclick=" javascript: loginUICallback.changePasswordLink() ">@ASCommonResx.ChangePassword</a>
                    </div>
                }
            </div>
        </div>

        <div class="main-body login hide" id="changePasswordWrapper">
            <h1 class="page-header" id="loginHeaderChangePW">@ASCommonResx.ChangePassword</h1>
            <div class="version">@System.Configuration.ConfigurationManager.AppSettings["Sage300Version"]</div>
            <div id="messageChangePassword" class="message-login"></div>
            <div class="form-group">
                <div class="input-group">
                    <label class="label-login">@ASCommonResx.UserID</label>
                    <input id="txtPasswordUserId" type="text" class="txt-upper">
                </div>
            </div>
            <div class="form-group" id="passwordDiv">
                <label class="label-login">@ASCommonResx.OldPassword</label>
                <div class="input-group">
                    <input id="txtPasswordOld" type="password" class="login" maxlength="64">
                    <span class="icon-eye" id="iconEye" toggle="#txtPasswordOld"></span>
                </div>
            </div>
            <div class="form-group" id="passwordDiv">
                <label class="label-login">@ASCommonResx.NewPassword</label>
                <div class="input-group">
                    <input id="txtPasswordNew" type="password" class="login" maxlength="64">
                    <span class="icon-eye" id="iconEye" toggle="#txtPasswordNew"></span>
                </div>
            </div>
            <div class="form-group" id="passwordDiv">
                <label class="label-login">@ASCommonResx.ConfirmPassword</label>
                <div class="input-group">
                    <input id="txtPasswordConfirm" type="password" class="login" maxlength="64">
                </div>
            </div>
            <div class="button-group">
                @Html.KoSageButton("btnOK", new { }, new { @value = CommonResx.OK, @id = "btnPasswordOk", @class = "btn btn-primary btn-login" })
                <div id="btnPasswordCancel" class="button-footer align-left">
                    <a id="btnPasswordCancel" class="text-button" href="#">@CommonResx.Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer" id="loginFooter">
    <div class="wrapper">
        <span class="copyright">@string.Format(CommonResx.GlobalCopyright, DateTime.Today.Year)</span>
</div>
</section>

